target/classes/implementation/create-contract-account-sdiIlpaCigCup-implFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="create-contract-account-sdiIlpaCigCup-implFlow" doc:id="512a7cf5-d2a9-4680-9e49-b449c7bd09f6" >
	<set-variable value="#[payload]" doc:name="Contract Account" doc:id="cbf9bb75-412f-461f-beaa-cc405344d5a1" variableName="contractAccount"/>
		<flow-ref doc:name="upsert-contract-account-sdiIlpaCigCup-implFlow" doc:id="1e7dbfa8-cc2e-4550-b36f-4876da71fa0d" name="upsert-contract-account-sdiIlpaCigCup-implFlow"/>
	</flow>
</mule>
