target/classes/implementation/create-operands-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	
	<flow name="create-operands-implFlow" doc:id="cb98a60a-a89a-44a3-917e-cc3dcfca6d84" >
		<set-variable value="#[payload]" doc:name="originalPayload" doc:id="6dc57d17-360c-4711-9d8d-c49a8b9dbb46" variableName="originalPayload" />
		<ee:transform doc:name="Create Operands - Request Transformation" doc:id="116b8ece-7ff2-46dd-b088-87ecabd6c4da">
			<ee:message>
				<ee:set-payload resource="dataweave/create-operands-request-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4d6e16d0-51ce-499a-89fd-8454e694f75a" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Create Operands using payload: " ++ write(payload, "application/json")]' />
		<s4hana:create-entity doc:name="Create Operands" doc:id="7721c52b-d887-4ed6-bef4-8863fe3d15da" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_OPERAND_SRV" entityType="OperandHeaderSet">
    		<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
    	</s4hana:create-entity>
		<async doc:name="Async" doc:id="49167156-cc5e-46e2-a6d8-3da961e1056a" >
			<flow-ref doc:name="alia-sys-tracing: /log-sap-operandi-in" doc:id="ee69cda6-2ae4-4031-b5a5-619730a56d3c" name="create-tracing-operands-in-implFlow"/>
		</async>
		<ee:transform doc:name="Create Operands - Response Transformation" doc:id="a228cbd3-0320-4d59-95a3-d971cb635d71" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bc96f0c4-fbb8-4a9e-8c22-1cef65cc4b76" message="Operands successfully created  - #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="706f77fc-779d-46dd-bd52-106b5c30ad1a" >
				<logger level="ERROR" doc:name="Logger" doc:id="1769e4bd-b047-413d-bd8d-c3bb9e8d85d6" message="Error creating Operands"/>
				<ee:transform doc:name="Error Transform Message" doc:id="7b6c34ba-96dc-454c-bcb3-f11a71b3a5c0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<async doc:name="Async" doc:id="a90d1f6c-a83b-45eb-aaff-f599a326cfa3" >
					<flow-ref doc:name="alia-sys-tracing: /log-sap-operandi-in " doc:id="b925a3c1-2238-430c-840b-9ec9a96a6fc8" name="create-tracing-operands-in-implFlow"/>
				</async>
			</on-error-propagate>
		</error-handler>
	</flow>	
	
	</mule>
