target/classes/implementation/get-move-container-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-move-container-implFlow" doc:id="53da1cec-596f-4dd7-9d30-1b678edbd6e9" >
		<choice doc:name="Choice" doc:id="f918fdd4-7ab2-4c81-818d-4f637210924e" >
			<when expression="#[(isEmpty(attributes.queryParams.installationId)) and (isEmpty(attributes.queryParams.EqunrWste))]">
				<logger level="INFO" doc:name="Logger" doc:id="e42f8a73-0660-470d-90ea-53ef34a53d30" />
				<raise-error doc:name="Bad request - Missing parameter" doc:id="1905c484-6a9f-4022-9e5b-d9631762d6ca" type="VALIDATION:MISSING_PARAMETER" description="400 BAD_REQUEST"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Get Move Container Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain

import * from dw::core::Strings

var installationId = if (isEmpty(attributes.queryParams.installationId)) "" else " and Anlage eq '" ++ attributes.queryParams.installationId ++ "'"
var EqunrWste = if (isEmpty(attributes.queryParams.EqunrWste)) "" else " and EqunrWste eq '" ++ leftPad(attributes.queryParams.EqunrWste,18,"0") ++ "'"
var out = installationId ++ EqunrWste
---
substringAfter(out, "and")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Move Container by filter: " ++ payload]' />
				<s4hana:query doc:name="Get Move Container" doc:id="58b29700-33df-490d-b04e-d78d523f64ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" entityType="zcontainerSet" filter="#[payload]" service="ZERP_ISU_CONTAINER_SRV">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
		</s4hana:query>
				<ee:transform doc:name="Get Move Container Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload map (item, index) -> {
    "Anlage": item.Anlage,
    "Operand": item.Operand,
    "Oplfdnr": item.Oplfdnr,
    ("Ab": item.Ab as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.Ab)) and (item.Ab as String != "9999-12-31")),
    ("Bis": item.Bis as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.Bis)) and (item.Ab as String != "9999-12-31")),    
    "Contshare": item.Contshare,
    "EqunrWste": item.EqunrWste,
    "NoUnities": item.NoUnities,
    "Behaelter": item.Behaelter,
    "BehType": item.BehType
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Move container got: #[payload]" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6b476a97-6f0b-4e2c-9e8f-835b5763f1b4" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun dato trovato"'>
				<logger level="WARN" doc:name="Logger" doc:id="23bd70e9-c1c4-4a73-a52c-8f8f184ceb70" message="Operands not found" />
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="13ee9c07-8149-4979-8fdb-8f3bba42e073" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6f6246a1-7b28-4a1b-9ade-b143832e2dac" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="85acb767-c6b8-4e0d-9c7a-f943e1cb0477" message="Error creating Container Installation"/>
				<ee:transform doc:name="Error Transform Message" doc:id="141bac40-9d3e-4fcd-bf0d-46b160dbf5d0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		</on-error-propagate>
		</error-handler>
	</flow>
</mule>
