target/classes/implementation/get-relationship-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-relationship-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Relationship by id " ++ vars.relationshipId]'/>
		<s4hana:get-entity doc:name="Get Business Partner Relationship by Id" doc:id="1d850020-b03e-48d4-b70b-d10356214bef" service="ZAPI_BUSINESS_PARTNER_RELATION_SRV" entityType="IBUPARELSet" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
			<s4hana:key ><![CDATA[#[%dw 2.0
output application/java
---
{
	"Businesspartnercompany" : vars.relationshipId,
	"Businesspartnerperson"  : "0100010539",
	"Validityenddate" : "/Date(1492041600000)/",
	"Relationshipnumber": "123"
}]]]></s4hana:key>
		</s4hana:get-entity>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Get Relationship: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0477700d-b1b1-4729-a43c-d04e9e796199" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun dato trovato"'>
				<logger level="WARN" doc:name="Logger" doc:id="f27bfd53-c999-46db-b358-cf0f6cb7cfa2" message="Operands not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="030e50f1-4de8-478e-9404-60458157d907" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="54b90bd4-1545-4b40-8d01-1ea4a7ead34d" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="14709716-8653-4ee1-8c44-691ec8a76c29" message="Error getting relationship" />
				<ee:transform doc:name="Transform Message" doc:id="f0961e96-a537-4a33-a567-37ccbc3a0bc7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
