target/classes/implementation/get-piano-rate-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-piano-rate-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Get Piano Rate Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"ContoContrattuale eq '" ++ attributes.queryParams.contract_account ++ "'"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Piano Rate by filter: " ++ payload]'/>
		<s4hana:query doc:name="Get Piano Rate" doc:id="58b29700-33df-490d-b04e-d78d523f64ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZESTRATTORE_PIANI_RATA_SRV_01" entityType="PianiRataHeadSet" filter="#[payload]">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<ee:transform doc:name="Get Piano Rate Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload map (item, index) -> {
    "contract_account": item.ContoContrattuale,
    ("payment_start_date": item.DataInizioRateizzazione as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataInizioRateizzazione)) and (item.DataInizioRateizzazione as String != "9999-12-31")),
    ("expiration_date": item.DataScadenza as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataScadenza)) and (item.DataScadenza as String != "9999-12-31")),
	"payment_num": item.NumeroPianorate,
	"payment_sum": item.Somma,
	"payment_status": item.Stato
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Piano Rate got: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="00c6f06d-7a94-42e8-abad-b685eea9bbde" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun Piano Rata Estratto per i dati in input"'>
				<logger level="WARN" doc:name="Logger" doc:id="a42fde48-210e-4ac9-8b76-3c344e62602c" message="Operands not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="aef71de4-3011-46b4-887e-b891a8634327" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6bb2df71-8db7-4c04-afde-2ecc57bd80ee" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="9490223c-9cc8-4067-bc76-eabe9a18260a" message="Error retrieving Piano Rate"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;error.errorMessage.payload]" doc:name="Set Payload" doc:id="add40918-de5c-4a10-bebf-759de54430f0" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
