target/classes/implementation/get-estratto-conto-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="get-estratto-conto-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<choice doc:name="Choice" doc:id="5436462e-2907-4bf2-b925-eab6b8f817a8" >
			<when expression="#[attributes.queryParams.contract_account == null and attributes.queryParams.business_partner == null]">
				<logger level="ERROR" doc:name="Logger" doc:id="7595ba24-ad35-42a5-82e6-399e8ea70dcc" message="No query parameter provided"/>
				<raise-error doc:name="Bad request - Missing parameter" doc:id="5fd096fc-54ef-43f0-a79b-c3cc6bef0b62" description="BAD REQUEST" type="VALIDATION:MISSING_PARAMETER"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Get Estratto Conto Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain

var contractAccount = if (isEmpty(attributes.queryParams.contract_account)) "" else "ContoContrattuale eq '" ++ attributes.queryParams.contract_account ++ "'"
var businessPartner = if (isEmpty(attributes.queryParams.business_partner)) "" else "BusinessPartner eq '" ++ attributes.queryParams.business_partner ++ "'"

---

if (isEmpty(contractAccount)) businessPartner
else if (isEmpty(businessPartner)) contractAccount
else contractAccount ++ " and " ++ businessPartner
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Estratto Conto by filter: " ++ payload]' />
				<s4hana:query doc:name="Get Estratto Conto" doc:id="58b29700-33df-490d-b04e-d78d523f64ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZESTRATTO_CONTO_SRV" entityType="EstrattoContoHeadSet" filter="#[payload]">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
				</s4hana:query>
				<ee:transform doc:name="Get Estratto Conto Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f">
			<ee:message>
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload map (item, index) -> {
    "contract_account" : item.ContoContrattuale,
    "business_partner" : item.BusinessPartner,
    "document_type" : item.TipoDocumento,
    "notification_amount" : item.ImportoAvviso,
    "document_number" : item.NumDocumento,
    "description" : item.Descrizione,
    "total_amount" : item.TotaleDaPagare,
    "notification_assessment" : item.AvvisoAccertamento,
    "status" : item.Stato,
    ("release_date" : item.DataEmissione as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataEmissione)) and (item.DataEmissione as String != "9999-12-31")),
    ("expiration_date" : item.DataScadenza as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataScadenza)) and (item.DataScadenza as String != "9999-12-31")),
    "reminder" : item.Sollecito,
    ("reminder_date" : item.DataNotifSollecito as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataNotifSollecito)) and (item.DataNotifSollecito as String != "9999-12-31")),
    "legal_fees" : item.SpeseLegali,
    "assessment" : item.Accertamento,
    ("assessment_date" : item.DataNotifAccertamento as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataNotifAccertamento)) and (item.DataNotifAccertamento as String != "9999-12-31")),
    "sanctions" : item.Sanzioni,
    "legal_interest" : item.InteressiLegali,
    "reminder_fees" : item.SpeseNotifica
}


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Estratto Conto got: #[payload]" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="842af0e9-3f35-4822-a8a1-8a3724006ef4" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun Avviso/Accertamento per i dati in input"'>
				<logger level="WARN" doc:name="Logger" doc:id="ac318206-7c8b-4a22-b14e-77c611f31fe7" message="Operands not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="b5492486-1e39-48eb-952d-7401f5cff21d" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="45863091-d25b-4320-adbc-2e19bf628f2c" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="c238dd3a-5f1c-4221-bd16-b8635922da93" message="Error retrieving Estratto Conto"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;error.errorMessage.payload]" doc:name="Set Payload" doc:id="615ca348-d0d1-415c-9f71-ab456567192d" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
