target/classes/implementation/get-asset-matricola-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-asset-matricola-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Get Asset Matricola Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain

var tagFilter = if (isEmpty(attributes.queryParams.tagCode)) "NO_TAG_SET" else attributes.queryParams.tagCode
var labelFilter = if (isEmpty(attributes.queryParams.labelCode)) "" else attributes.queryParams.labelCode
var zmatrFilter = if (isEmpty(attributes.queryParams.matrCode)) "" else attributes.queryParams.matrCode

---
if (!isEmpty(attributes.queryParams.matrCode))
	"Zmatr eq '" ++ zmatrFilter ++ "'"
else if (isEmpty(attributes.queryParams.labelCode))
	"Tag eq '" ++ tagFilter ++ "'"
else
	"Tag eq '" ++ tagFilter ++ "' and Etich eq '" ++ labelFilter ++ "'"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Asset Matricola by filter: " ++ payload]'/>
		<s4hana:query doc:name="Get Asset Matricola" doc:id="58b29700-33df-490d-b04e-d78d523f64ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_MATRICOLA_SRV" entityType="ZST_MATRICOLASet" filter="#[payload]">
   			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<ee:transform doc:name="Set Equnr" doc:id="6f1f2d9c-5752-48f0-a6a2-6596007677e4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Equnr" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
leftPad(payload[0].Equnr,18,"0")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<s4hana:query service="ZERP_ISU_MATRICOLA_SRV" entityType="ZST_MATRICOLASet" doc:name="Get Asset Matricola by eq Equnr" doc:id="c1f115bd-c971-4d94-b966-836b235f3867" config-ref="SAP_S_4HANA_Config" filter="#[&quot;Equnr eq '&quot; ++ vars.Equnr ++ &quot;'&quot;]" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
		</s4hana:query>
		<ee:transform doc:name="Get Asset Matricola Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json skipNullOn="everywhere"

//rimossi i tag/matricola con data cessazione - bis valorizzata

var altaF = ((payload filter ((item, index) -> (sizeOf(item.Tag) > 10) and (item.Bis == null or (item.Bis as String default "") == "9999-12-31"))) orderBy sizeOf($.Tag)) [-1 to 0] default []
var bassaF = ((payload filter ((item, index) -> (sizeOf(item.Tag) <= 10) and (item.Bis == null or (item.Bis as String default "") == "9999-12-31"))) orderBy sizeOf($.Tag)) [-1 to 0] default []

var orderMatr = altaF ++ bassaF
---
[{   "matr": orderMatr[0].Zmatr,
    "tag": orderMatr[0].Tag,
    "etich_code": orderMatr[0].Etich,
    ("start_date": orderMatr[0].Ab as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(orderMatr[0].Ab)) and (orderMatr[0].Ab as String != "9999-12-31")),
    ("end_date": orderMatr[0].Bis as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(orderMatr[0].Bis)) and (orderMatr[0].Bis as String != "9999-12-31")),
    "bu_partner": orderMatr[0].BuPartner,
    "equipment_number": leftPad(orderMatr[0].Equnr,18,"0") default leftPad(bassaF[0].Equnr,18,"0"),
    "serge_number": orderMatr[0].Serge,
    "set_name": orderMatr[0].Setnr,
    "material": orderMatr[0].Matnr,
    "Bauform": orderMatr[0].Bauform,
    "lf_matr": orderMatr[1].Zmatr,
    "lf_tag": orderMatr[1].Tag,
    "lf_etich_code": orderMatr[1].Etich,
    ("lf_start_date": orderMatr[1].Ab as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(orderMatr[1].Ab)) and (orderMatr[1].Ab as String != "9999-12-31")),
    ("lf_end_date": orderMatr[1].Bis as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(orderMatr[1].Bis)) and (orderMatr[1].Bis as String != "9999-12-31")),
    "lf_bu_partner": orderMatr[1].BuPartner,
    "lf_equipment_number": leftPad(orderMatr[0].Equnr,18,"0") default leftPad(orderMatr[1].Equnr,18,"0"),
    "lf_serge_number": orderMatr[1].Serge,
    "lf_set_name": orderMatr[1].Setnr,
    "lf_material": orderMatr[1].Matnr,
    "lf_Bauform": orderMatr[1].Bauform
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Move container got: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dc2b5ca3-f6f6-4372-b4d6-910a2a85d835" type="S4HANA:INVALID_ENTITY" when='error.description contains "Equipment non valorizzato"'>
				<logger level="WARN" doc:name="Logger" doc:id="b68fced9-2aed-48e2-bb01-1358366cab81" message="Operands not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="d8633ab8-1aee-45f7-8dcd-e68021f6596f" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4236a985-650f-449b-8095-4643af77fbea" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="742adb6d-f8a6-4a80-b431-4297f7561435" message="Error retrieving Asset Matricola"/>
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;var errorDescription= error.description default "error invoking sap get asset matricola"&#10;---&#10;// Try to read it as a JSON&#10;dw::Runtime::try(() -&gt; read(errorDescription,"application/json"))&#10;// You have data that are neither of XML or JSON&#10;dw::Runtime::orElse({error:{message:{value:errorDescription}}})]' doc:name="Set Payload" doc:id="4b3ba8fc-8c9f-4f5c-b711-b65627476d1d" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
