target/classes/implementation/update-connection-object-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	
	<flow name="update-connection-object-implFlow" doc:id="cb98a60a-a89a-44a3-917e-cc3dcfca6d84" >
		<ee:transform doc:name="Update ConnObj - Request Transformation" doc:id="116b8ece-7ff2-46dd-b088-87ecabd6c4da" >
			<ee:message >
				<ee:set-payload resource="dataweave/update-conn-obj-request-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4d6e16d0-51ce-499a-89fd-8454e694f75a" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Conn Obj with payload: " ++ write(payload, "application/json")]' />
		<s4hana:update-entity doc:name="Update ConnObj" doc:id="382552cf-a706-4991-be45-ca3af8ea6825" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_CONNOBJ_SRV" entityType="ConnobjSet">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:update-entity>
		<ee:transform doc:name="Payload2JSON" doc:id="20c7001f-47e0-40ff-a093-729683a9122e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bc96f0c4-fbb8-4a9e-8c22-1cef65cc4b76" message="#[ConnObj successfully updated]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a4f22434-2911-451a-a4d0-79f825ddf2d5" >
				<logger level="ERROR" doc:name="Logger" doc:id="1207a9a6-4f10-482f-8245-708e1b187c63" message="Error updating ConnObj"/>
				<ee:transform doc:name="Error Transform Message" doc:id="cdaa152e-0299-46df-bf73-3d88683558f9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>	
	
	</mule>
