target/classes/implementation/update-asset-tag.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="update-asset-tagFlow" doc:id="2c5c2d17-a380-40c3-aab7-e6e1e3acfbc7" >
		<choice doc:name="Choice" doc:id="9013bc36-07f1-4ddd-8602-87e6b544704f">
			<when expression='#[payload.PlatformEvent == "Asset_AggiornamentoAnagrafica__e"]'>
				<logger level="INFO" doc:name="Logger" doc:id="1de9cce4-b57a-4a58-90fc-bac7053bc84c" message="Asset_AggiornamentoAnagrafica__e" />
				<ee:transform doc:name="Tag aggiornamento Anagrafica" doc:id="76587283-ead7-481b-9715-f4071eea5137">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

---
{
	"Zmatr": payload.ALIA_ZMATR__c,
	"Ab": payload.ALIA_ASSIGNMENT_START_DATE__c,    
    "Bis": payload.ALIA_ASSIGNMENT_END_DATE__c,
    "Equnr" : payload.ALIA_EQUNR__c,
	"Tag": payload.ALIA_ZTAG__c,    
    "BuPartner":payload.AccountID
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Update Asset Tag - Request Transformation" doc:id="e252a8ab-815d-4e85-9e9d-7edc8b78bb1d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

---
{
	"Equnr" : payload.ALIA_EQUNR__c,
	"Tag": payload.ALIA_ZTAG__c,
//	"Zmatr": payload.ALIA_ZMATR__c,
//	"Ab": payload.ALIA_AB__c,
    "Bis": payload.ALIA_Bis__c,
    "BuPartner":payload.AccountID
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="965cdb67-3f3f-446c-82e7-80e9241e3628" message="Updating Asset Tag with payload: #[payload]"/>
		<s4hana:update-entity service="ZERP_ISU_MATRICOLA_SRV" entityType="Zisurf_MatricolaPositionSet" doc:name="Update Asset Tag" doc:id="558f5672-1ee7-4751-a419-cf4a31ae2297" config-ref="SAP_S_4HANA_Config" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS"/>
		<ee:transform doc:name="Payload2JSON" doc:id="bdd5bfbc-8968-48fd-a7f3-302689b057c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0b72c8f1-73c0-4654-98df-b67d73ec9f56" message="Asset Tag successfully updated  - #[payload]"/>
	</flow>
	
	</mule>
