target/classes/implementation/update-relationship-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="update-relationship-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Update Relationship - Request Transformation" doc:id="d4c48b43-5f11-4ffa-9bc6-cb5aef661740" >
			<ee:message >
				<ee:set-payload resource="dataweave/update-relationship-request-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Relationship " ++ vars.relationshipId ++ " with payload " ++ write(payload, "application/json")]' />
		<s4hana:create-entity doc:name="Update Business Partner Relationship" doc:id="d16b772a-3fa6-4bf7-b47b-323694657212" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZAPI_BUSINESS_PARTNER_RELATION_SRV" entityType="iBUPA_REL_CHANGESet">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
			<s4hana:entity ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
		</s4hana:create-entity>
		<ee:transform doc:name="Update Relationship - Response Transformation" doc:id="18efcb03-29d2-4b6b-bd41-ee1d4b30eb79" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Id" : payload.relationship.Id, 
	"ALIA_RELNR__c" : vars.sapResult.Relationshipnumber,
	("ALIA_Role__c" : vars.sapResult.Relationshipcategory) if (!isEmpty(vars.sapResult.Relationshipcategory)),
    ("StartDate" : vars.sapResult.Validitystartdate as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(vars.sapResult.Validitystartdate)) and (vars.sapResult.Validitystartdate as String != "9999-12-31")),
	("EndDate" : vars.sapResult.Validityenddate as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(vars.sapResult.Validityenddate)) and (vars.sapResult.Validityenddate as String != "9999-12-31")),
    ("accounts" : [
    	{
    		"Id" : payload.accounts[0].Id,
    		("ALIA_OLDKEY__c" : vars.sapResult.Businesspartnercompany) if (vars.sapResult.Businesspartnercompany != null)
    	},
    	{
    		"Id" : payload.accounts[1].Id,
    		("ALIA_OLDKEY__c" : vars.sapResult.Businesspartnerperson) if (vars.sapResult.Businesspartnerperson != null)
    	}
    ]
    ) if (vars.sapResult.Businesspartnercompany != null or vars.sapResult.Businesspartnerperson != null)
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Relatioship successfully updated"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d5a11564-317c-4802-a173-cfc043e1f8b3" >
				<logger level="ERROR" doc:name="Logger" doc:id="7aa20ec1-e6b6-4744-bbe4-86b8db0e7fcf" message="Error updating Relationship"/>
				<ee:transform doc:name="Error Transformation Message" doc:id="71198fd6-e320-4ecc-b1f3-29ce864245b0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
