target/classes/implementation/update-business-partner-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="update-business-partner-impl-flow" doc:id="ddd81d54-dfe7-45d2-9561-2994b9d28665" >
		<logger level="INFO" doc:name="Logger" doc:id="b6f27c8a-d304-4fb1-b04c-0900180f668f" message='#["Update Business Partner " ++ vars.businessPartnerId]'/>
		<set-variable value="#[payload]" doc:name="Business Partner" doc:id="11a5bce4-b72c-4af5-804e-427797209d84" variableName="businessPartner"/>
		<s4hana:query doc:name="Get Business Partner Tax Number" doc:id="06cadc02-4d04-4d14-9173-2e14338ccfdf" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZAPI_BUSINESS_PARTNER_EXTEND_SRV" entityType="A_BusinessPartnerTaxNumber" filter="#[&quot;BusinessPartner eq '&quot; ++ vars.businessPartnerId ++ &quot;'&quot;]">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner Tax Number" doc:id="8faeb8e3-5e5a-4974-b823-06904a677845" variableName="businessPartnerTaxNumber"/>
<!-- [STUDIO:"Get Business Partner Address"]		<s4hana:query doc:name="Get Business Partner Address" doc:id="0ba21000-792b-4714-a130-9d1bc03f0010" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" filter="#[&quot;BusinessPartner eq '&quot; ++ vars.businessPartnerId ++ &quot;'&quot;]" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query> [STUDIO] -->
<!-- [STUDIO:"Business Partner Address"]		<set-variable value="#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;payload]" doc:name="Business Partner Address" doc:id="1213e95a-e7b3-43ba-ba8d-1899e6319e43" variableName="businessPartnerAddress"/> [STUDIO] -->
		<set-variable value="#[vars.businessPartner.ALIA_BILLING_ADDRESS_ID__c]" doc:name="Address ID" doc:id="f93c2d20-e306-4808-9192-53c63d11165d" variableName="addressId" />
		<s4hana:query doc:name="Get Business Partner Role" doc:id="4c7d9597-332a-4d17-84aa-2998bba7b965" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerRole" filter="#[&quot;BusinessPartner eq '&quot; ++ vars.businessPartnerId ++ &quot;'&quot;]"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner Role" doc:id="fdced112-7bad-4212-b1d1-dc0b252b4dd0" variableName="businessPartnerRole"/>
		<choice doc:name="Choice" doc:id="56400eea-49c5-499c-a037-592906771ede" >
			<when expression="#[vars.addressId == null]">
				<logger level="INFO" doc:name="Logger" doc:id="b7aba818-0e0c-4e1f-a834-dc5922625a62" message="No Business Partner Address set"/>
			</when>
			<otherwise >
				<s4hana:query doc:name="Get Business Partner Phone Number" doc:id="6f0ab831-92f2-4138-85f9-1262cd265ee5" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" filter="#[&quot;AddressID eq '&quot; ++ vars.addressId ++ &quot;'&quot;]" service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
				</s4hana:query>
				<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner Phone Number" doc:id="2bc6ac07-79ab-47c8-8e5a-a3db7dafed77" variableName="businessPartnerPhoneNumber" />
				<s4hana:query doc:name="Get Business Partner Address Email Address" doc:id="a8032789-73ea-4920-8008-587145b812ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" filter="#[&quot;AddressID eq '&quot; ++ vars.addressId ++ &quot;'&quot;]" service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
				</s4hana:query>
				<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner Address Email Address" doc:id="cec17197-b108-400d-99a5-6659d96c5fad" variableName="businessPartnerEmailAddress" />
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="889bbcf2-8517-4af0-9c33-aa43bfebcac2" >
			<when expression="#[(vars.businessPartner.ALIA_VALID_FROM_1__c == null)&#10;and (vars.businessPartner.ALIA_TITLE__c == null)&#10;and (vars.businessPartner.title == null)&#10;and (vars.businessPartner.ALIA_LEGAL_ENTY__c == null)&#10;and (vars.businessPartner.ALIA_FOUND_DAT__c == null)&#10;and (vars.businessPartner.ALIA_LIQUID_DAT__c == null)&#10;and (vars.businessPartner.ALIA_BU_SORT_1__c == null)&#10;and (vars.businessPartner.ALIA_BU_SORT_2__c == null)&#10;and (vars.businessPartner.Salutaion == null)&#10;and (vars.businessPartner.LastName == null)&#10;and (vars.businessPartner.FirstName == null)&#10;and (vars.businessPartner.ALIA_TITLE_ACA1__c == null)&#10;and (vars.businessPartner.ALIA_Gender__c == null)&#10;and (vars.businessPartner.PersonBirthDate == null)&#10;and (vars.businessPartner.ALIA_NATIO__c == null)&#10;and (vars.businessPartner.ALIA_BIRTHPL__c == null)&#10;and (vars.businessPartner.ALIA_DEATHDT__c == null)&#10;and (vars.businessPartner.ALIA_MARST__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="ebff9a48-fcae-4850-9a4b-eb4a3d4e29fe" message="No update for Business Partner required"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Update Business Partner - Request Transformation" doc:id="35eca155-7115-4dd0-8368-5b986d57d1d4">
			<ee:message>
				<ee:set-payload resource="dataweave/update-business-partner-request-transforamtion.dwl" />
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="8ca38ac7-273a-4deb-80ed-2ac8a00850db" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Business Partner with payload " ++ write(payload, "application/json")]'/>
				<try doc:name="Try" doc:id="3088cb8a-94f1-4276-be5a-37d9d7c25292" >
					<s4hana:update-entity doc:name="Update Business Partner" doc:id="39c4b030-22e0-4917-a2b7-bce11b71255c" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartner">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
					<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
				</s4hana:update-entity>
				<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b7e87afb-8fe3-4c89-a3e4-c6004f3698d9" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="19e34f7a-4cad-4862-8120-21a4b143d39b" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="0d2cea19-36e1-4f10-98c5-858204dd28c9" millisBetweenRetries="5000">
					<s4hana:update-entity doc:name="Update Business Partner" doc:id="e4a40f48-f39a-43f8-8720-ccefac75a9c2" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartner">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
					<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
				</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="b9090fe7-f671-4eb0-960d-22ed8b240407" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
				</try>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="3621f1e8-34d2-4d7e-a237-1a95643c60de">
			<when expression="#[(vars.businessPartner.BillingCity == null) and (vars.businessPartner.BillingPostalCode == null) and (vars.businessPartner.BillingStreet == null) and (vars.businessPartner.BillingStateCode == null) and (vars.businessPartner.BillingCountryCode == null) and (vars.businessPartner.ALIA_BILLING_LOCATION__c == null) and (vars.businessPartner.ALIA_BILLING_FLOOR__c == null) and (vars.businessPartner.ALIA_BILLING_ROOMNUMBER__c == null) and (vars.businessPartner.ALIA_BILLING_STR_SUPPL3__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="77c43f43-aed4-4319-b56f-d4fa18f9010d" message="No update Business Partner Address required" />
			</when>
			<otherwise>
				<choice doc:name="Choice" doc:id="52d83eae-3514-4c41-9389-28aae6aa0ece">
					<when expression="#[vars.addressId == null]">
				<ee:transform doc:name="Create Business Partner Address - Request Transformation" doc:id="edbc0ff7-fe00-4a63-bcbc-13d2b8cb349a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

var email = [
	({
       "IsDefaultEmailAddress" : true,
       "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c,
       ("Remark" : vars.businessPartner.ALIA_ICOM_SMTP_REMARK_1__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_REMARK_1__c)),
    }) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c)),
	({
       "IsDefaultEmailAddress" : false,
       "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c,
       ("Remark" : vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c)),
    }) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c))
]

var mobile = [
    ({
       "IsDefaultPhoneNumber" : if (isEmpty(vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c) or vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c == "3") true else false,
       "PhoneNumber" : vars.businessPartner.Phone,
       ("PhoneNumberType" : vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c))
    }) if (!isEmpty(vars.businessPartner.Phone)),
    ({
       "IsDefaultPhoneNumber" : if (isEmpty(vars.businessPartner.Phone) or vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c == "3") true else false,
       "PhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c,
       ("PhoneNumberType" : vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c))
    }) if (!isEmpty(vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c))
]

var addressUsage = [
	{
		"AddressUsage" : "XXDEFAULT"
	}
]

---
{
	"BusinessPartner": vars.businessPartnerId,
    ("CityName" : vars.businessPartner.BillingCity) if (isEmpty(vars.businessPartner.BillingCity)),
    ("PostalCode" : vars.businessPartner.BillingPostalCode) if (!isEmpty(vars.businessPartner.BillingPostalCode)),
    ("StreetName": vars.businessPartner.BillingStreet) if (!isEmpty(vars.businessPartner.BillingStreet)),
    "HouseNumber": vars.businessPartner.ALIA_BillingHouseNumber__c default "",
    ("Country" : vars.businessPartner.BillingCountryCode) if (!isEmpty(vars.businessPartner.BillingCountryCode)),
    ("Region" : vars.businessPartner.BillingStateCode) if (!isEmpty(vars.businessPartner.BillingStateCode)),
    ("AdditionalStreetSuffixName" : vars.businessPartner.ALIA_BILLING_LOCATION__c) if (!isEmpty(vars.businessPartner.ALIA_BILLING_LOCATION__c)),
    ("Floor" : vars.businessPartner.ALIA_BILLING_FLOOR__c) if (!isEmpty(vars.businessPartner.ALIA_BILLING_FLOOR__c)),
    ("RoomNumber" : vars.businessPartner.ALIA_BILLING_ROOMNUMBER__c) if (!isEmpty(vars.businessPartner.ALIA_BILLING_ROOMNUMBER__c)),
    ("StreetSuffixName" : vars.businessPartner.ALIA_BILLING_STR_SUPPL3__c) if (!isEmpty(vars.businessPartner.ALIA_BILLING_STR_SUPPL3__c)),
    ("to_EmailAddress" : email) if (email != []),
    ("to_MobilePhoneNumber" : mobile) if (mobile != []),
    ("to_AddressUsage" : addressUsage),
    "HouseNumberSupplementText": vars.businessPartner.ALIA_BillingHouseNumber2__c default ""
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="07b839c3-484d-44bd-aaf2-685e189b78b1" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Address with payload " ++ write(payload, "application/json")]' />
						<try doc:name="Try" doc:id="0e31394b-0860-4ce1-b37c-72da0f0c6354" >
							<s4hana:create-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress" doc:name="Create Business Partner Address" doc:id="1d2bf94c-19d2-4342-b3d3-a3f3abadbf6a" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4c6c0b30-cf17-4662-976a-d35e6d42053c" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="a14d3db0-1050-4371-b68d-dc8bbd0d1a7d" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="6d5e97c2-e22b-4917-b904-f783fd83c173" millisBetweenRetries="5000">
					<s4hana:create-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress" doc:name="Create Business Partner Address" doc:id="5bc97249-3bb0-4427-af25-ef8d28ea95d4" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="0290664b-9cfd-4756-8837-3c51386eb625" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
						<set-variable value="#[payload.AddressID]" doc:name="Address ID" doc:id="83b37cad-d9d2-4483-9a90-7faa059b67a8" variableName="addressId" />
					</when>
					<otherwise>
						<ee:transform doc:name="Update Business Partner Address - Request Transformation" doc:id="c1974b48-629f-4681-8b2b-594027ea5db2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

var email = [
	({
       "IsDefaultEmailAddress" : true,
       "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c,
       ("Remark" : vars.businessPartner.ALIA_ICOM_SMTP_REMARK_1__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_REMARK_1__c)),
    }) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c)),
	({
       "IsDefaultEmailAddress" : false,
       "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c,
       ("Remark" : vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c )),
    }) if (!isEmpty(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c))
]

var mobile = [
    ({
       "IsDefaultPhoneNumber" : if (isEmpty(vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c) or vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c == "3") true else false,
       "PhoneNumber" : vars.businessPartner.Phone,
       ("PhoneNumberType" : vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c))
    }) if (!isEmpty(vars.businessPartner.Phone)),
    ({
       "IsDefaultPhoneNumber" : if (isEmpty(vars.businessPartner.Phone) or vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c == "3") true else false,
       "PhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c,
       ("PhoneNumberType" : vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c) if (!isEmpty(vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c))
    }) if (!isEmpty(vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c))
]

---
{
	"BusinessPartner": vars.businessPartnerId,
    "AddressID": vars.addressId,
    "CityName" : vars.businessPartner.BillingCity,
    "PostalCode" : vars.businessPartner.BillingPostalCode,
    "StreetName": vars.businessPartner.BillingStreet,
    "HouseNumber": vars.businessPartner.ALIA_BillingHouseNumber__c default "",
    "Country" : vars.businessPartner.BillingCountryCode,
    "Region" : vars.businessPartner.BillingStateCode,
    "AdditionalStreetSuffixName" : vars.businessPartner.ALIA_BILLING_LOCATION__c,
    "Floor" : vars.businessPartner.ALIA_BILLING_FLOOR__c,
    "RoomNumber" : vars.businessPartner.ALIA_BILLING_ROOMNUMBER__c,
    "StreetSuffixName" : vars.businessPartner.ALIA_BILLING_STR_SUPPL3__c,
    "HouseNumberSupplementText": vars.businessPartner.ALIA_BillingHouseNumber2__c default ""
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="9aa52cd5-07e0-405c-a0ec-a3d0943af61f" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Address with payload " ++ write(payload, "application/json")]' />
						<try>
						<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress" doc:name="Update Business Partner Address" doc:id="c9b6b22b-9d7e-4140-846b-d0244bf72f40" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="64800c88-5d69-4708-8cd0-b6659eb67e79" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="25019423-4cc1-4920-b4ed-43656d6c4151" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="f2030a9f-9ae3-407a-9f8c-fba86490d8b6" millisBetweenRetries="5000">
					<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress" doc:name="Update Business Partner Address" doc:id="d4a7ea5d-16ba-48ef-9c1d-356036fde985" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="333c00e0-c21a-4665-9b2c-c57ecb0fee20" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
			</try>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="dd802bf6-6d0b-4de7-98da-79fab6b56089" >
			<when expression="#[(vars.businessPartner.ALIA_TAXNUM_PIVA_IT0__c == null) and (vars.businessPartner.ALIA_TAXNUM_PIVA_IT1__c == null) and (vars.businessPartner.ALIA_TAXNUM_CF__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="83957c72-04ac-4b63-89e5-316d7bc73e06" message="No update Business Partner Tax Number required"/>
			</when>
			<otherwise >
				<ee:transform doc:name="set BPTaxTypeList" doc:id="389328fb-9c90-4270-87bc-1b6b06a45e35">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="BPTaxTypeList" ><![CDATA[    %dw 2.0
output application/java
---
[  
  ({
      "BusinessPartner" : vars.businessPartnerId,
      "BPTaxType" : "IT0",
      "BPTaxNumber": vars.businessPartner.ALIA_TAXNUM_PIVA_IT0__c,
      "BPTaxLongNumber" : vars.businessPartner.ALIA_TAXNUM_PIVA_IT0__c,
    }) if (vars.businessPartner.ALIA_TAXNUM_PIVA_IT0__c != null),
    ({
      "BusinessPartner" : vars.businessPartnerId,
      "BPTaxType" : "IT1",
      "BPTaxNumber": vars.businessPartner.ALIA_TAXNUM_PIVA_IT1__c,
      "BPTaxLongNumber" : vars.businessPartner.ALIA_TAXNUM_PIVA_IT1__c,
    }) if (vars.businessPartner.ALIA_TAXNUM_PIVA_IT1__c != null),
    ({
      "BusinessPartner" : vars.businessPartnerId,
      "BPTaxType" : "ITCF",
      "BPTaxNumber": vars.businessPartner.ALIA_TAXNUM_CF__c,
      "BPTaxLongNumber" : vars.businessPartner.ALIA_TAXNUM_CF__c,
    }) if (vars.businessPartner.ALIA_TAXNUM_CF__c != null),
    ({
      "BusinessPartner" : vars.businessPartnerId,
      "BPTaxType" : "IT4",
      "BPTaxNumber": vars.businessPartner.ALIA_SDI_IPA__c,
      "BPTaxLongNumber" : vars.businessPartner.ALIA_SDI_IPA__c,
    }) if (vars.businessPartner.ALIA_SDI_IPA__c != null)
    
    ]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger - current tax number on SF" doc:id="ab13f9c4-0d10-4a6d-aa39-60a1bd77fc62" message="current tax number on SF #[vars.BPTaxTypeList]"/>
				<foreach doc:name="For Each" doc:id="d80821d2-f297-4968-b5e4-7b60fd8061f5" collection="#[vars.BPTaxTypeList]" counterVariableName="i">
					<choice doc:name="Choice" doc:id="9d9206c1-73a0-481d-b1c7-adab81839ae8">
					<when expression='#[isEmpty(vars.businessPartnerTaxNumber) or (vars.businessPartnerTaxNumber[?($."BPTaxType" == payload.BPTaxType)] == null)]'>
						<ee:transform doc:name="Create Business Partner Tax Number - Request Transformation" doc:id="b254a3a4-f844-4ba8-908d-8cc17363fe74">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="64607db2-3d7c-406a-9cf3-58371bfb3349" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Tax Number with payload " ++ write(payload, "application/json")]' />
							<try doc:name="Try" doc:id="4548d235-759d-449c-96a4-dcf64b56f6bd" >
								<s4hana:create-entity doc:name="Create Business Partner Tax Number" doc:id="b4639081-0e91-4812-9127-afbb9f2a9f50" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerTaxNumber">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
						</s4hana:create-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="078e8ed5-837e-49fb-8674-5563fc414ea9" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="3b2d3327-9557-4868-acf4-261b8fcf2276" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="f967630e-d85b-4eff-9c2e-e11181790a56" millisBetweenRetries="5000">
					<s4hana:create-entity doc:name="Create Business Partner Tax Number" doc:id="940284ac-009a-4479-ab33-4ba3cd7f9474" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerTaxNumber">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
						</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="84212764-6bd4-4d75-8111-a4d3e191d8c5" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
							</try>
					</when>
					
					<when expression='#[vars.businessPartnerTaxNumber != null and vars.businessPartnerTaxNumber != [] and (vars.businessPartnerTaxNumber[?($."BPTaxType" == payload.BPTaxType)] != null)]'>
						<ee:transform doc:name="Update Business Partner Tax Number - Request Transformation" doc:id="fd4e724e-9301-479a-938f-c1616a4e20fc">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="68c64126-8248-4218-bafc-c02b9db3a20a" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Tax Number with payload " ++ write(payload, "application/json")]' />
						<try>
						<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerTaxNumber" doc:name="Update Business Partner Tax Number" doc:id="393bf184-4ee5-4ac0-9202-79b5bc0b7c05" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
						</s4hana:update-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ea86bc06-a5dd-4fc9-830d-295db75740f4" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="1f1ed5d6-639a-4ba5-b463-79c796ffad53" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="572615b9-a1cd-48cb-a0d3-8ee660bd0da6" millisBetweenRetries="5000">
					<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerTaxNumber" doc:name="Update Business Partner Tax Number" doc:id="cca25523-4538-4a96-9c42-efbdf968cf43" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
						</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="8e4af27f-f0ac-406d-84ee-df45d767da77" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
		</try>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="ab17869b-bae2-4913-8542-2a53ed6c82ed" message="No need to update Tax Number" />
					</otherwise>
				</choice>
				</foreach>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="276863b0-461b-4412-a996-9450e2448f2a" >
			<when expression="#[(vars.businessPartner.Phone == null) and (vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="d60f2633-ca11-4021-a76e-22e5463eba62" message="No update Business Partner Address Phone Number required"/>
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="c26deaf1-d32b-4b23-9c28-08c3274b040e" >
					<when expression="#[vars.businessPartnerPhoneNumber == null or vars.businessPartnerPhoneNumber == []]">
						<ee:transform doc:name="Create Address Phone Number - Request Transformation" doc:id="3358dbad-6087-4625-85fd-90dffb5c8259">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "AddressID": vars.addressId,
  "IsDefaultPhoneNumber" : if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "1" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "3") true else false,
  "PhoneNumber" : vars.businessPartner.Phone, 
  "InternationalPhoneNumber" : vars.businessPartner.Phone, 
  ("PhoneNumberType": "1") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "x" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "X"),
  ("PhoneNumberType": "2") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "2"),
  ("PhoneNumberType": "3") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "3")
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="ea69bba7-0b69-4e81-9931-0e91dbd9dda7" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Phone Number with payload " ++ write(payload, "application/json")]'/>
						<try doc:name="Try" doc:id="ff4e7a86-51e9-4603-b541-e48dc2f11a0b" >
							<s4hana:create-entity doc:name="Create Phone Number" doc:id="94ac417d-c7e7-4592-be5f-60d2acf7d31a" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c3380521-1f45-4df1-8a8c-57327bbeadeb" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="52b3ec1c-4988-467a-8123-61f643f48edf" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" millisBetweenRetries="5000">
					<s4hana:create-entity doc:name="Create Phone Number" doc:id="34dc42b6-a398-4580-bf45-8f70f5bfae13" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="9a224cfc-f605-46f4-9ada-bb78e8ba1f6a" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
					</when>
					<otherwise >
						<ee:transform doc:name="Update Address Phone Number - Request Transformation" doc:id="bf0e7056-bce2-41e2-9d15-a650ca38df58">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "AddressID": vars.addressId,
  "Person": vars.businessPartnerPhoneNumber[0].Person,
  "OrdinalNumber": vars.businessPartnerPhoneNumber[0].OrdinalNumber,
  "IsDefaultPhoneNumber" : if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "1" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "3") true else false,
  "PhoneNumber" : vars.businessPartner.Phone,
  "InternationalPhoneNumber" : vars.businessPartner.Phone,
  ("PhoneNumberType": "1") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "x" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "X"),
  ("PhoneNumberType": "2") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "2"),
  ("PhoneNumberType": "3") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_1__c == "3")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="96d80d94-7b04-47bc-8ce1-12807d3af218" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Phone Number with payload " ++ write(payload, "application/json")]'/>
						<try>
						<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber" doc:name="Update Phone Number" doc:id="fcc04a71-bb6b-4753-8942-45ec8e2b6895" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" >
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
							<s4hana:entity ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="79211d83-dd54-40c1-8353-c33df2cd0217" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="7aa1ec00-a6bb-4b83-8fde-67a05670ff49" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="0ca0585e-a040-4eab-ae6a-b5f1c40910a6" millisBetweenRetries="5000">
					<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber" doc:name="Update Phone Number" doc:id="9a5a1a19-79e2-4135-ab5b-a794c9db6466" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" >
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
							<s4hana:entity ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="8bd91d6f-33d3-4dca-a0fd-193f43aa6ae9" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
			</try>
					</otherwise>
				</choice>
				<choice doc:name="Choice" doc:id="a35cc558-54b8-432c-aae1-72e415f012b0" >
					<when expression="#[vars.businessPartnerPhoneNumber[1] == null and vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c != null]">
						<ee:transform doc:name="Create Address Phone Number - Request Transformation" doc:id="a0cf9793-3276-4c03-9c1e-e8edfa76f80f">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "AddressID": vars.addressId,
  "IsDefaultPhoneNumber" : if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "1" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "3") true else false,
  "PhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c, 
  "InternationalPhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c, 
  ("PhoneNumberType": "1") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "x" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "X"),
  ("PhoneNumberType": "2") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "2"),
  ("PhoneNumberType": "3") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "3")
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="1c71b731-0b6b-41c0-b685-cf4a83eafb8c" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Phone Number with payload " ++ write(payload, "application/json")]'/>
						<try doc:name="Try" doc:id="505b3063-1100-4150-a73e-c1e13182162d" >
							<s4hana:create-entity doc:name="Create Phone Number" doc:id="64078817-fdaa-4830-aba7-b561fb1dae8d" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="80afae1c-119b-48fc-a53c-209ad2f7017f" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="9cb0dc7d-2443-4e46-969a-d48140a33dce" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="2023992a-c625-4116-ae58-8d7b4750afe1" millisBetweenRetries="5000">
					<s4hana:create-entity doc:name="Create Phone Number" doc:id="4df13644-a8ff-474c-84dd-ca2d5c968cd3" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="69384cec-9974-4e87-84d2-2da1aef3039d" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
					</when>
					<when expression="#[vars.businessPartnerPhoneNumber[1] != null and vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c != null]">
						<ee:transform doc:name="Update Address Phone Number - Request Transformation" doc:id="f34b186f-9810-4a93-8bd1-d16e0f2dd176">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "AddressID": vars.addressId,
  "Person": vars.businessPartnerPhoneNumber[1].Person,
  "OrdinalNumber": vars.businessPartnerPhoneNumber[1].OrdinalNumber,
  "IsDefaultPhoneNumber" : if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "1" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "3") true else false,
  "PhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c, 
  "InternationalPhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c, 
  ("PhoneNumberType": "1") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "x" or vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "X"),
  ("PhoneNumberType": "2") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "2"),
  ("PhoneNumberType": "3") if (vars.businessPartner.ALIA_ICOM_TEL_TYPE_2__c == "3")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="c554aaf1-4fe1-413f-bb01-5b0e527741ed" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Phone Number with payload " ++ write(payload, "application/json")]' />
						<try doc:name="Try" doc:id="4e077a30-a1b2-4234-870a-c84ed97e6568" >
							<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber" doc:name="Update Phone Number" doc:id="faa3e08b-7d4d-4e19-9aa8-7423f9077a84" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b631936c-43dd-4e2d-8d5f-68c1ff262056" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="d3ffd6ba-d736-4555-90a6-b476ee8f2832" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="7e529aff-0ca1-4d11-a581-50cf11f76f64" millisBetweenRetries="5000">
					<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber" doc:name="Update Phone Number" doc:id="85bbd4ac-b757-4c91-9f83-e162af1f849b" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="20281e37-6e46-40f0-8899-cca78f328d48" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="670db7d5-adb3-4cba-8afd-eb93f131e196" message="No second phone number"/>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="56b30d51-5455-4210-8899-1efeff1bbf53" >
			<when expression="#[(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c == null) and (vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="9107e9e9-81af-477c-bbf6-f43b605cf339" message="No update Business Partner Address Email Address required"/>
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="27dd462c-3e36-407a-bff4-8e280ef1c16c" >
					<when expression="#[vars.businessPartnerEmailAddress == null or vars.businessPartnerEmailAddress == []]">
						<ee:transform doc:name="Create Address Email Address - Request Transformation" doc:id="62f70fb3-be79-4cbb-a74f-7569be897dfc">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
  "AddressID": vars.addressId,
  "Remark" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_1__c == "PEC") "PEC" else "Email",

// the email is the default 
  "IsDefaultEmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c == "PEC") false else true,
  "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c,
  "SearchEmailAddress" : substring(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c, 0 ,20)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="60127a8d-f0dd-4751-9145-4c33b4c0bd7c" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Email with payload " ++ write(payload, "application/json")]'/>
						<try doc:name="Try" doc:id="af63e595-6382-4624-9b7e-0559070e6721" >
							<s4hana:create-entity doc:name="Create Email Address" doc:id="a88c7ec3-dc6c-46dc-9a0b-318f41ad12ff" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" entityType="A_AddressEmailAddress">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="340e13b6-5389-463f-b1fe-00bc76be0eae" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="313900b8-0932-4a31-a45d-fe65b25d3ea0" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="30b45b19-0207-43a7-97be-343192620590" millisBetweenRetries="5000">
					<s4hana:create-entity doc:name="Create Email Address" doc:id="a9c453b5-e7dc-463d-bea5-b21489045e1a" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" entityType="A_AddressEmailAddress">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="edb6ba2f-28ac-4206-a894-b618f0eef38b" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
					</when>
					<otherwise >
						<ee:transform doc:name="Update Address Email Address - Request Transformation" doc:id="bceb0b60-759b-4426-b218-6d5589c211e8">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
  "AddressID": vars.addressId,
  "Person": vars.businessPartnerEmailAddress[0].Person,
  "OrdinalNumber": vars.businessPartnerEmailAddress[0].OrdinalNumber,
  "Remark" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_1__c == "PEC") "PEC" else "Email",
  "IsDefaultEmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c == "PEC") false else true,
  "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c,
  "SearchEmailAddress" : substring(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c, 0, 20)
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="6c8ad55c-ae54-4ec0-b977-9a57af2fa409" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Email with payload " ++ write(payload, "application/json")]'/>
						<try doc:name="Try" doc:id="356f85c4-45c1-4371-b2bf-52467d798c7b" >
							<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Update Email Address" doc:id="b8216741-7608-4418-bc10-30c46dd95706" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a89d689d-f264-44d3-a3a5-c8636753e00e" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="11af0a21-18ce-4c25-a8e1-efa207cd4ac0" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="13e48572-ffa8-4c68-ad46-c4e3d8bbfa55" millisBetweenRetries="5000">
					<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Update Email Address" doc:id="92846abc-83a5-4776-b425-b0e69129c12a" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="62dbcc71-69ff-4281-84ea-af4fc529de2b" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
					</otherwise>
				</choice>
				<choice doc:name="Choice" doc:id="d85315e0-fb08-4c76-9a79-c17b15fdd7bb" >
					<when expression="#[vars.businessPartnerEmailAddress[1] == null and vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c != null]">
						<ee:transform doc:name="Create Address Email Address - Request Transformation" doc:id="bb4130cb-8ff0-4956-9875-6beab27164d0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
  "AddressID": vars.addressId,
  "Remark" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c == "PEC") "PEC" else "Email",
  "IsDefaultEmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c == "PEC") true else false,
  "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c,
  "SearchEmailAddress" : substring(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c, 0, 20)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="7ee79c0d-809d-461d-aa6c-d6cb898a5611" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Email with payload " ++ write(payload, "application/json")]'/>
						<try doc:name="Try" doc:id="0e1dd6f1-55de-4b5b-849e-845db7d3eb5e" >
							<s4hana:create-entity doc:name="Create Email Address" doc:id="f061d211-5758-4eb8-8e9b-a9f3c8fbd633" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3051c676-189b-4993-9bad-5f5b49e4e40f" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="736b9b87-e569-440f-9177-1b8b67c442e8" name="manage-errorFlow" target="originalError"/>
					<s4hana:create-entity doc:name="Create Email Address" doc:id="2157ff3d-813d-4e03-b291-51730c0787bb" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
					<remove-variable doc:name="Remove Variable" doc:id="95c8096c-7d27-4058-a976-0b3354370cac" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
						</try>
					</when>
					<when expression="#[vars.businessPartnerEmailAddress[1] != null and vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c != null]">
						<ee:transform doc:name="Update Address Email Address - Request Transformation" doc:id="b48e7530-3f06-47ec-94c0-8fa36b77d66f">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
  "AddressID": vars.addressId,
  "Person": vars.businessPartnerEmailAddress[1].Person,
  "OrdinalNumber": vars.businessPartnerEmailAddress[1].OrdinalNumber,
  "Remark" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c == "PEC") "PEC" else "Email",
  "IsDefaultEmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_REMARK_2__c == "PEC") true else false,
  "EmailAddress" : vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c,
  "SearchEmailAddress" : substring(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c, 0, 20)
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="b96edf02-372c-474d-863f-08d8b69b078e" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating Email with payload " ++ write(payload, "application/json")]' />
						<try>
						<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Update Email Address" doc:id="7e7c92c1-fc85-4ae1-a8e7-ca49d8758672" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4edab943-dc00-493c-a5a8-c852cd9eb576" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="7f3c64b6-f8b0-4b21-8fd7-fe5b663f0d35" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="43206cdc-e392-49d3-a815-0256f84ba9cd" millisBetweenRetries="5000">
					<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Update Email Address" doc:id="ad81701d-c547-4fdc-9a4c-6ba1fa09d126" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
							<s4hana:entity><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="b979b01f-e369-4b46-b824-3d9a7f233fe9" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
			</try>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="dd7e0a75-7660-4bd4-afb4-704e3452a73d" message="No second email address"/>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="a5e0ed4b-1d24-4b6c-b075-820ef2184792" >
			<when expression='#[vars.businessPartnerRole[?($.BusinessPartnerRole == "MKK")] == null]'>
				<ee:transform doc:name="Create Role - Request Transformation" doc:id="38a17a51-ab0d-4030-8ec4-0a351014db4c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"BusinessPartner": vars.businessPartnerId,
	"BusinessPartnerRole" : "MKK",
	"ValidFrom" : now() as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ 'T00:00:00',
	"ValidTo" : "9999-12-31T00:00:00"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="87882e22-7bda-4211-b912-88e4b39c3489" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Role with payload " ++ write(payload, "application/json")]'/>
				<s4hana:create-entity doc:name="Create entity" doc:id="902143cf-45ff-4ae5-8b2b-ea19ce6cf9c0" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerRole"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="22d55788-23a4-47fa-863e-4639d7158338" message="Role for Business Partner already set"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="get-business-partner-details-for-response" doc:id="e734cc98-613a-4c06-b8fa-f49d56370452" name="get-business-partner-details-for-response"/>
		<logger level="INFO" doc:name="Logger" doc:id="f589b9f1-fd81-4c6a-8802-ba88087b6ec7" message="Business Partner successfully updated"/>
	</flow>
	<sub-flow name="get-business-partner-details-for-response" doc:id="5ef3eb68-fdf5-4d85-807d-f7c652f1ea14" >
		<s4hana:get-entity doc:name="Get Business Partner by Id" doc:id="8c34a26e-c4cc-41e4-a843-41b459448df3" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartner" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" select="*" expand="to_BusinessPartnerAddress/to_EmailAddress" target="businessPartnerDetailsForResponse">
   			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
			<s4hana:key ><![CDATA[#[%dw 2.0
output application/java
---
{
	"BusinessPartner": vars.businessPartnerId
}]]]></s4hana:key>
		</s4hana:get-entity>
		<ee:transform doc:name="Transform Message" doc:id="8f194730-ae9d-4cb2-bc25-4868ef061c90">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
	"ALIA_OLDKEY__c": vars.businessPartnerDetailsForResponse.BusinessPartner,
	"ALIA_BILLING_ADDRESS_ID__c": vars.addressId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
	</sub-flow>
</mule>
