target/classes/implementation/write-off-billing-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	
	<flow name="write-off-billing-impl-implFlow" doc:id="1538b63c-19ed-4033-87f3-ae6f4ac5bdfd" >
		<ee:transform doc:name="Create Write Off Billing - Request Transformation" doc:id="75413be3-c2d2-4e6a-88b3-8b33ab9db605" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  "vertrag" : payload.ALIA_OLDKEY__c,
  "auszdat" : if (isEmpty(payload.ALIA_AUSZDAT__c)) null else (payload.ALIA_AUSZDAT__c as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ 'T00:00:00'),
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="994cf031-113c-4afa-9f3e-25f5d665a834" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Write Off Billing using payload: " ++ write(payload, "application/json")]' />
		<s4hana:execute-function doc:name="Create Write Off Billing" doc:id="b623f3c1-5106-41f7-817f-25bd591568c2" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_ZRF_RMOUT_SRV" function="ZRF_RMOUT_FM"/>
		<choice doc:name="Choice" doc:id="ad7e4f4a-3cdd-4cd5-a7d5-fa5f183ce8ce" >
			<when expression='#[payload.Esito == "OK"]'>
				<ee:transform doc:name="Create Write Off Billing - Response Transformation" doc:id="803ad613-5e4a-40e9-8da3-29d54c13b982">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="aee42553-a37b-4d72-bd36-432dc0d2743b" message="Write Off Billing successfully created - #[payload]" />
			</when>
			<otherwise >
				<set-variable value='#[payload.Esito ++ " " ++ payload.Messaggio]' doc:name="Error message" doc:id="5b3a9def-3706-416e-849b-7fd6089a1c94" variableName="errorMessage"/>
				<logger level="ERROR" doc:name="Logger" doc:id="98cfa001-d496-4c21-9b44-29ef2d9f2e3f" message="Error Creating Write Off Billing - #[vars.errorMessage]" />
				<raise-error doc:name="Error creationg evasion contract on SAP" doc:id="df3a8f57-eef9-4c2d-acb7-d914eb0d3325" type="S4HANA:CREATING_WRITE_OFF_BILLING" description="#[vars.errorMessage]"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="abad2ded-03e4-4938-a022-c28dbcf63684" >
				<logger level="ERROR" doc:name="Logger" doc:id="4d8b8ea2-23b1-4fd7-82ed-551d63678a75" message="Error creating Write Off Billing"/>
				<ee:transform doc:name="Error Transform Message" doc:id="24605390-012e-4100-bde8-ee6235b61a0c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage default error.description,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>	
</mule>
