target/classes/implementation/write-off-contracts-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="write-off-contracts-implFlow" doc:id="92af072d-1817-417e-b12d-9e1ad584d32a" >
		<logger level="INFO" doc:name="Logger" doc:id="709071ce-ed4b-4536-afd7-8dc5f72b7c15" message="Starting write-off contracts with payload #[payload]"/>
		<choice doc:name="Choice" doc:id="0905656b-26b0-44fc-ab53-db7eface0041" >
			<when expression='#[(payload.Action == "2" and (isEmpty(payload.ALIA_NEW_AUSZDAT__c))) or (payload.Action == "4" and (isEmpty(payload.ALIA_NEW_EINZDAT__c)))]'>
				<logger level="ERROR" doc:name="Logger" doc:id="f0391062-8c57-40c5-b6bd-60aaa9ed669b" message="missing parameters ALIA_NEW_EINZDAT__c or ALIA_NEW_AUSZDAT__c #[payload]"/>
				<raise-error doc:name="Raise error" doc:id="1e1d408c-fe60-4a80-8f76-67710758b247" type="ANY" description="missing parameters ALIA_NEW_EINZDAT__c or ALIA_NEW_AUSZDAT__c"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Write-off contract - Request Transformation" doc:id="4364ba5c-a176-412e-80e1-492ec666dbd9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Vertrag": payload.ALIA_OLDKEY__c,
	"Action" : payload.Action,
	("DataAttivazioneNew": payload.ALIA_NEW_EINZDAT__c) if (!isEmpty(payload.ALIA_NEW_EINZDAT__c)),
	("DataCessazioneNew": payload.ALIA_NEW_AUSZDAT__c) if (!isEmpty(payload.ALIA_NEW_AUSZDAT__c))
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
<s4hana:execute-function doc:name="Write-off contracts" doc:id="e60223f0-f6c9-40c8-8728-c76fb1811751" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_STORNI_SRV" function="ZFC_STORNI">
				</s4hana:execute-function>
				<ee:transform doc:name="Write-off contract - Response Transformation" doc:id="26f5cf8c-baad-421f-83ea-2c56d99ec710" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="13e052cb-d2bb-4b71-b3dd-36e65ef19ba4" when='(error.description contains "Non è stato possibile trovare Documento di cessazione per parametri di ricerca indicati") or (error.description contains "Non è stato possibile trovare alcun edificio per i parametri di ricerca") or (error.description contains "Storno attivazione già eseguito") or (error.description contains "Storno cessazione già eseguito") or (error.description contains "Non è possibile procedere: Contratto già stornato")'>
				<logger level="WARN" doc:name="Logger" doc:id="c97e3458-d8a4-4922-a0cc-5cf4df36abc5" message="error writing-off contracts #[error.description]"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="b1743bc0-bc94-468b-a084-ac96508c4566" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
