src/main/mule/common/create-tracing-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="create-tracing-operands-in-implFlow" doc:id="f860a090-818d-44be-ad94-3d1da2575a32" >
		<ee:transform doc:name="Transform Message" doc:id="0915cc27-40f9-4314-9abb-6e421a071189" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun formatDate(str: String): String = (if (isEmpty(str)) "9999-12-31T00:00:00" else str as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ "T00:00:00")
var timestamp = now()

---
vars.originalPayload map ((item, index) -> 
{
	correlationId: correlationId,
	timestamp: timestamp,
	idOperando: item.Id,
	ALIA_CodiceOperando__c: item.ALIA_CodiceOperando__c,
	Anlage: item.Instln_Premise__c,
	Ab: formatDate(item.Date_validity_start_Common__c  default ""),
	Bis: formatDate(item.Date_validity_end_Common__c default ""),
	Valore: if (isEmpty(item.ALIA_TipoTariffa_Value__c)) item.ALIA_TipoTariffa__c else item.ALIA_TipoTariffa_Value__c,
	Kondigr: item.ALIA_Gruppi_Info__c,
	error: error.description
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload Request log-sap-operandi-in" doc:id="88ce50c1-47f7-430b-9926-9d565324abf8" message="Request log-sap-operandi-in: #[payload]"/>
		<http:request method="POST" doc:name="alia-sys-tracing: /log-sap-operandi-in" doc:id="b65ada69-922f-45b0-aade-922a6c55dea8" config-ref="alia-sys-tracing_request_configuration" path="${api.system.tracing.resource-path.create-log-sap-operandi-in}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : '${secure::api.system.tracing.client_secret}',
	"client_id" : '${secure::api.system.tracing.client_id}'
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Output log-sap-operandi-in" doc:id="3370fd9b-c91f-482d-bf1c-927fbcee4c0c" message="Output log-sap-operandi-in: #[payload]"/>
	</flow>
	<flow name="create-tracing-operands-up-implFlow" doc:id="03f12685-0e2c-4ab7-a4df-8b43ebcf0a37" >
		<ee:transform doc:name="Transform Message" doc:id="d7fc2c0d-07b5-4717-bce4-de1483931bfe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun formatDate(str: String): String = (if (isEmpty(str)) "9999-12-31T00:00:00" else str as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ "T00:00:00")
var timestamp = now()

---
vars.originalPayload map ((item, index) -> 
{
	correlationId: correlationId,
	timestamp: timestamp,
	idOperando: item.Id,
	ALIA_CodiceOperando__c: item.ALIA_CodiceOperando__c,
	Anlage: item.Instln_Premise__c,
	Ab: formatDate(item.Date_validity_start_Common__c  default ""),
	Bis: formatDate(item.Date_validity_end_Common__c default ""),
	Valore: if (isEmpty(item.ALIA_TipoTariffa_Value__c)) item.ALIA_TipoTariffa__c else item.ALIA_TipoTariffa_Value__c,
	Kondigr: item.ALIA_Gruppi_Info__c,
	error: error.description
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload Request log-sap-operandi-up" doc:id="0b43f563-091e-4ee5-962a-301353a1da8f" message="Request log-sap-operandi-up: #[payload]"/>
		<http:request method="POST" doc:name="alia-sys-tracing: /log-sap-operandi-up" doc:id="d75df6d7-a01e-4998-9677-e05a4fe64609" config-ref="alia-sys-tracing_request_configuration" path="${api.system.tracing.resource-path.create-log-sap-operandi-up}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : '${secure::api.system.tracing.client_secret}',
	"client_id" : '${secure::api.system.tracing.client_id}'
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Output log-sap-operandi-up" doc:id="cfcc56f6-df06-4c16-83ea-5198be2ecbd4" message="Request log-sap-operandi-up: #[payload]"/>
	</flow>
</mule>
