src/main/mule/common/get-contract-account-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-contract-account-implFlow" doc:id="e2393f7b-f3cd-459e-9ed6-a06c9b6c8ebf" >
		<logger level="INFO" doc:name="Logger" doc:id="aa5e47c3-dbaf-45c6-bdc0-bf299bc23ecb" message='#["Get ContractAccount by ContractAccountID " ++ (vars.contractAccount.ALIA_OLDKEY__c default "")]'/>
		<s4hana:get-entity doc:name="Get ContractAccount by ID" doc:id="c3f4af6a-a1d8-49eb-9b72-42c18a8c9dbf" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_UMC_SRV" entityType="ContractAccounts">
			<s4hana:key ><![CDATA[#[{
	"ContractAccountID": vars.contractAccount.ALIA_OLDKEY__c
}]]]></s4hana:key>
		</s4hana:get-entity>
		<logger level="INFO" doc:name="Logger" doc:id="e7facdd0-b607-4b0d-bab7-051e9eafaa6d" message="ContractAccount got: #[payload]" />
	</flow>
</mule>
