src/main/mule/common/update-business-partner-address-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="update-business-partner-address-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Update Business Partner Address - Request Transformation" doc:id="6c1eadd9-ae0e-42aa-9d51-23a17167e2e8">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"BusinessPartner": vars.businessPartnerId,
    "AddressID": payload.AddressId,
    "CityName": payload.CityName,
    "PostalCode": payload.PostalCode,
    "StreetName": payload.StreetName,
    "HouseNumber": payload.HouseNumber,
    "Country": payload.Country,
    "Region": payload.Region,
    "AdditionalStreetSuffixName": payload.AdditionalStreetSuffixName,
    "Floor": payload.Floor,
    "RoomNumber": payload.RoomNumber,
    "StreetSuffixName": payload.StreetSuffixName,
    "HouseNumberSupplementText": payload.HouseNumberSupplementText
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bcb59ceb-49b4-4750-a877-c067725a9c46" message="updating Business Partner #[payload]"/>
		<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress" doc:name="Update Business Partner Address" doc:id="781b68a5-b83a-4f1c-b656-2a69b760f1de" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
				    <reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
				</s4hana:update-entity>
				<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3503a2a2-559a-48f2-a2cb-bb043c673265" >
				<logger level="ERROR" doc:name="Logger" doc:id="fe4954ca-a3c9-4d27-a593-742df0e4709f" message="Error updating BP address"/>
				<ee:transform doc:name="Error Transform Message" doc:id="476478f4-b90c-4378-ace3-1c11d1bfde90" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
