src/main/mule/common/upsert-account-email-address-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	
	<flow name="upsert-account-email-address-implFlow" doc:id="cb98a60a-a89a-44a3-917e-cc3dcfca6d84" >
		<choice doc:name="Choice" doc:id="189fad21-f872-467d-b359-3f6c447ba849" >
			<when expression="#[(!isEmpty(vars.contractAccount.ALIA_SHIPPING_ADDRESS_ID__c) or !isEmpty(vars.accountAddress.AddressID)) and !isEmpty(vars.contractAccount.ALIA_ICOM_SMTP_ADDR_1__c)]">
				<set-variable value="#[vars.accountAddress.AddressID default vars.contractAccount.ALIA_SHIPPING_ADDRESS_ID__c]" doc:name="Address ID" doc:id="48013c93-aea8-43d9-ae98-14d75b7546df" variableName="addressId" />
				<logger level="INFO" doc:name="Logger" doc:id="2c877e47-3ab2-495f-8bfb-40576ef210ec" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating CA Email Address for AddressId: " ++ vars.addressId]' />
				<s4hana:query service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Get Business Partner Address Email Address" doc:id="d2ec7b86-f521-40ce-9c01-31919cd815f2" config-ref="SAP_S_4HANA_Config" filter="#[&quot;AddressID eq '&quot; ++ vars.addressId ++ &quot;'&quot;]" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" >
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
				</s4hana:query>
				<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner Address Email Address" doc:id="fd2fd98e-7950-47d2-ae8f-82e571e272c1" variableName="businessPartnerEmailAddress" />
				<choice doc:name="Choice" doc:id="77615496-91fd-478b-9746-8247101f4e59" >
					<when expression="#[vars.businessPartnerEmailAddress == null or vars.businessPartnerEmailAddress == []]" >
						<ee:transform doc:name="Create Address Email Address - Request Transformation" doc:id="f2920d8d-b30e-4366-a141-cccfaea04aee" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
  "AddressID": vars.addressId,
  "Remark" : if (vars.contractAccount.ALIA_ICOM_SMTP_REMARK_1__c == "PEC") "PEC" else "Email",
  // the email is the default 
  "IsDefaultEmailAddress" : if (vars.contractAccount.ALIA_ICOM_SMTP_REMARK_1__c == "PEC") false else true,
  "EmailAddress" : vars.contractAccount.ALIA_ICOM_SMTP_ADDR_1__c,
  "SearchEmailAddress" : substring(vars.contractAccount.ALIA_ICOM_SMTP_ADDR_1__c, 0 ,20)
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="080d0a31-3895-4618-9372-1d940165c0ef" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating CA Email with payload " ++ write(payload, "application/json")]' />
						<try>
						<s4hana:create-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Create Email Address" doc:id="46abe0f3-edab-456f-ab22-2097b20a2a24" config-ref="SAP_S_4HANA_Config" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" >
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
						<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ec2d8643-376b-420e-8575-301e4a5feb07" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="d2752ab4-539c-43cd-8034-d1bcc7d6b48d" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="e5ff461c-deb1-49ae-b60b-7479e48cc555" millisBetweenRetries="5000">
					<s4hana:create-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Create Email Address" doc:id="4b7a4908-f544-47f7-bd9b-c4423c3661d0" config-ref="SAP_S_4HANA_Config" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" >
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="d38b1412-575f-4e71-974a-aaea23d75ea2" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
			</try>
						<logger level="INFO" doc:name="Logger" doc:id="09a30e5b-ef41-4f8b-b48c-acc69aa45577" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"CA Email successfully created - " ++ write(payload, "application/json")]'/>
					</when>
					<otherwise >
						<ee:transform doc:name="Update Address Email Address - Request Transformation" doc:id="27b3e2d0-5711-4489-a47b-42cff4b22fb4" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
  "AddressID": vars.addressId,
  "Person": vars.businessPartnerEmailAddress[0].Person,
  "OrdinalNumber": vars.businessPartnerEmailAddress[0].OrdinalNumber,
  ("Remark" : vars.contractAccount.ALIA_ICOM_SMTP_REMARK_1__c) if !isEmpty(vars.contractAccount.ALIA_ICOM_SMTP_REMARK_1__c),
  //"IsDefaultEmailAddress" : if (vars.contractAccount.ALIA_ICOM_SMTP_REMARK_1__c == "PEC") false else true,
  "IsDefaultEmailAddress": true,
  "EmailAddress" : vars.contractAccount.ALIA_ICOM_SMTP_ADDR_1__c,
  "SearchEmailAddress" : substring(vars.contractAccount.ALIA_ICOM_SMTP_ADDR_1__c, 0 ,20)
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="12c6b325-e7dd-4534-b463-947221d60f7b" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Updating CA Email with payload " ++ write(payload, "application/json")]' />
						<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Update Email Address" doc:id="07cb4105-d3a4-48fa-aaf9-33ce675db558" config-ref="SAP_S_4HANA_Config" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" >
							<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
							<s4hana:entity ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></s4hana:entity>
						</s4hana:update-entity>
						<logger level="INFO" doc:name="Logger" doc:id="31202b59-f2a5-4bd9-b3d7-0f31bace9604" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"CA Email successfully updated - " ++ write(payload, "application/json")]'/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="e0423cde-51b3-42ed-a56b-42af6c85da0c" message="No Account Address to be created" />
			</otherwise>
		</choice>
	</flow>	
	
	</mule>
