src/main/mule/implementation/create-asset-tag.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="create-asset-tagFlow" doc:id="5854ea18-0ab7-4233-8d7b-490c19f48e2a" >
		<ee:transform doc:name="Create Asset Tag - Request Transformation" doc:id="97035129-1aba-41e5-ba40-83957449410a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

//fun formatDate(str: String): String = (if (isEmpty(str)) "9999-12-31T00:00:00" else str as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ "T00:00:00")

---
{
	"Equnr" : payload.ALIA_EQUNR__c,
	"MatricolaPositionItem": payload.tagItems map(item,index) -> {
		"Zmatr": item.ALIA_ZMATR__c,
      	"Tag": item.ALIA_ZTAG__c,
      	"Ab": item.ALIA_AB__c,
      	"Bis": "9999-12-31T00:00:00",
      	"BuPartner":item.AccountID,
      	"Equnr": item.ALIA_EQUNR__c
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="15155f08-4b47-4378-95c3-d44c0625187c" message="Creating Asset Tag with payload: #[payload]"/>
		<s4hana:create-entity doc:name="Create Asset Tag" doc:id="5b135398-c2c9-4ea9-892a-97003a3b945a" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_MATRICOLA_SRV" entityType="Zisurf_MatricolaHeaderSet" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS"/>
		<ee:transform doc:name="Payload2JSON" doc:id="a4a9d945-bbbb-4fc1-b2cf-8064c066b4b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0edc2b05-82b1-470f-b8bb-d4862b4dea16" message="Asset Tag successfully created  - #[payload]"/>
	</flow>
</mule>
