src/main/mule/implementation/create-relationship-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="create-relationship-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Create Relationship - Request Transformation" doc:id="d4c48b43-5f11-4ffa-9bc6-cb5aef661740" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	("Sapkey" : payload.relationship.ALIA_RELNR_Ext__c) if (payload.relationship.ALIA_RELNR_Ext__c != null),
	"Businesspartnerperson" : payload.accounts[0].ALIA_OLDKEY__c,
	"Businesspartnercompany" : payload.accounts[1].ALIA_OLDKEY__c,
    "Validityenddate" : if (payload.relationship.EndDate == null) "9999-12-31T00:00:00" else (payload.relationship.EndDate as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ 'T00:00:00'),
    "Validitystartdate" : if (payload.relationship.StartDate == null) "9999-12-31T00:00:00" else (payload.relationship.StartDate as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ 'T00:00:00'),
    "Isstandardrelationship" : false,
    ("Relationshipcategory" : payload.relationship.ALIA_Role__c) if (payload.relationship.ALIA_Role__c != null)
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Relationship with payload " ++ write(payload, "application/json")]' />
		<s4hana:create-entity doc:name="Create Business Partner Relationship" doc:id="d0145b0f-334f-4167-a420-d6bdd19b0f9d" service="ZAPI_BUSINESS_PARTNER_RELATION_SRV" entityType="IBUPARELSet" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" target="sapResult">
    		<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>		
    	</s4hana:create-entity>
		<ee:transform doc:name="Create Relationship - Response Transformation" doc:id="0db8fe02-8a7c-4e7f-adf4-ccc0f273acdb" >
			<ee:message >
				<ee:set-payload resource="dataweave/create-relationship-response-transformationdwl.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="65e894d5-c104-4bce-8758-a2f5cd5a7d16" message="Relationship successfully created"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="09876efd-bbef-415f-8dfb-d64583af8da8" >
				<logger level="ERROR" doc:name="Logger" doc:id="27773618-0322-4b18-974c-9fca9e49d268" message="Error creating Relationship" />
				<ee:transform doc:name="Error Transformation" doc:id="505a5c20-2d3e-4859-ac17-b80026c6d0e1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
