src/main/mule/implementation/create-asset-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="create-asset-implFlow" doc:id="06054727-68fd-4662-bb36-7a9e57f7e29c" >
		<ee:transform doc:name="Create Asset  - Request Transformation" doc:id="24b2b4eb-7c49-4ffa-93aa-3c3a8fbaa8ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

fun formatDate(str: String): String = (if (isEmpty(str)) "9999-12-31T00:00:00" else str as Date {format: "yyyyMMdd"} as String {format: "yyyy-MM-dd"} ++ "T00:00:00")
---
{
	"CodiceMateriale": payload.ALIA_MATNR__c,
    "DataInizio": formatDate(payload.ALIA_AB__c),
    "Matricola": payload.ALIA_ZMATR__c,
    "Tag": payload.ALIA_ZTAG__c
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="22fc995f-b9e8-4799-a005-273dac65010a" message="Creating Asset with payload: #[payload]"/>
		<s4hana:create-entity doc:name="Create Asset" doc:id="52b3c6b0-a9a6-4f4a-b9bf-e60970d144e6" config-ref="SAP_S_4HANA_Config" responseTimeout="${sap.connection.response-timeout}" service="ZERP_ISU_RF_MGVIRT_SRV" entityType="ZERP_ISU_RF_MGVIRTSet"/>
<logger level="INFO" doc:name="Logger" doc:id="7be0a578-40d6-470e-bc7f-a46eb755cc93" message="Response from Create Asset Entity: #[payload]"/>
		<ee:transform doc:name="Create Asset - Response Transformation" doc:id="ae14a002-b600-42cf-b563-5662f4af9880" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Equnr": payload.Contenitore
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bfbb60fc-d150-4162-8693-37fa413330f0" message="Asset successfully created  - #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="812cf2cb-a9fc-4e79-b822-92e29bb28d12" >
				<logger level="INFO" doc:name="Logger" doc:id="74ff9f89-3c7b-4b61-a387-f3b93298327e" message="Error creating Asset "/>
				<flow-ref doc:name="manage-errorFlow" doc:id="b58e9936-201f-413a-86bb-b075522cb092" name="manage-errorFlow"/>
			</on-error-propagate>
		</error-handler>
	
	
</flow>
</mule>
