src/main/mule/implementation/create-accounting-transfer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="create-accounting-transferFlow" doc:id="280812a2-e790-4610-96f4-840db54ddbc2" >
		<logger level="INFO" doc:name="Logger" doc:id="6e5c7597-b81c-4e70-9924-baae09bb377d" message='"Creating accounting-transfer on SAP with payload: #[payload]'/>
		<s4hana:create-entity doc:name="create accounting-transfer" doc:id="1d08cbe5-5e24-49d9-84f5-ff8234f67661" config-ref="SAP_S_4HANA_Config" service="ZERP_TRASFER_PARTITE_SRV" entityType="TrasferimentoSet" responseTimeout="${sap.connection.response-timeout}"/>
		<logger level="INFO" doc:name="Logger" doc:id="5a14cb0c-8e9e-4df2-ab5e-595025895f19" message="Transfer completed: #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3d0c82f6-8f75-4dd3-8635-7282878a9830" >
				<logger level="ERROR" doc:name="Logger" doc:id="3802bf6f-a0b2-4414-8953-ac657a95fd13" message="Error transfering accounting"/>
				<ee:transform doc:name="Error Transform Message" doc:id="4c0c777e-0e34-4f4f-9c06-05f493d55b92" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
