src/main/mule/implementation/create-contract-account-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	
	<flow name="create-contract-account-implFlow" doc:id="cb98a60a-a89a-44a3-917e-cc3dcfca6d84" >
		<logger level="INFO" doc:name="Logger" doc:id="ab606c2e-f50b-48c5-9ff4-4f6ff8911db2" message="Creating Contract Account"/>
		<set-variable value="#[payload]" doc:name="Contract Account" doc:id="8478856c-ad7d-489c-98b2-85fc368b5e95" variableName="contractAccount"/>
		<flow-ref doc:name="upsert-bank-account-implFlow" doc:id="73de3bd6-b41d-404b-8a7f-95c8a14417b6" name="upsert-bank-account-implFlow" />
		<flow-ref doc:name="upsert-account-address-implFlow" doc:id="40d1c3a5-c97f-4939-bd5f-bc033d766b67" name="upsert-account-address-implFlow" />
		<choice doc:name="Choice" doc:id="e08b91b7-adc9-46ae-87dd-368996d4112b" >
			<when expression='#[vars.contractAccount.ALIA_ICOM_SMTP_VERSTATUS_1__c == "verification_ok" or vars.contractAccount.ALIA_ICOM_SMTP_VERSTATUS_1__c == "verification_not_sync"]'>
				<flow-ref doc:name="upsert-account-email-address-implFlow" doc:id="d5dc7ddc-ffe2-442a-a11e-9dd2f3a586f0" name="upsert-account-email-address-implFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2956ca97-0e79-45af-89a5-92ba69d991ba" message="Aggiornamento email non eseguito per mancanza di verifica nuovo indirizzo email"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Create Contract Account - Request Transformation" doc:id="116b8ece-7ff2-46dd-b088-87ecabd6c4da" >
			<ee:message >
				<ee:set-payload resource="dataweave/create-contract-account-request-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6679b45b-5761-43f8-87f1-79f5774db99e" message='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Creating Contract Account using payload: " ++ write(payload, "application/json")]'/>
		<try doc:name="Try" doc:id="10b645fa-7ca3-4140-b796-95556de81c9b" >
			<s4hana:create-entity doc:name="Create Contract Account" doc:id="7721c52b-d887-4ed6-bef4-8863fe3d15da" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_UMC_SRV" entityType="ContractAccounts">
		    <reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
		</s4hana:create-entity>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ccf63887-a6f5-464e-854f-2d4f6f3f1cf7" when='error.description contains "INT_MULE_ISU"'>
					<flow-ref doc:name="manage-errorFlow and SV originalError" doc:id="e70ab590-c33d-49c1-8b36-f7e91683eda7" name="manage-errorFlow" target="originalError"/>
					<until-successful maxRetries="2" doc:name="Until Successful" doc:id="db4221dc-36a2-481a-b9a9-ac0bf56c181f" millisBetweenRetries="5000">
					<s4hana:create-entity doc:name="Create Contract Account" doc:id="16564ec7-d6d5-4d2b-b580-e2fcbee8ba12" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_UMC_SRV" entityType="ContractAccounts">
		    <reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}" />
		</s4hana:create-entity>
					</until-successful>
					<remove-variable doc:name="Remove Variable" doc:id="d23fcb4e-31ae-4e51-8522-c3dada29636b" variableName="originalError"/>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Create Contract Account - Response Transformation" doc:id="93c4c0d1-c45b-4ee1-a37f-34a1ed38566e">
			<ee:message>
				<ee:set-payload resource="dataweave/create-contract-account-response-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="f933b7e5-fdc2-4299-9e38-594828e776c1" >
			<when expression="#[!isEmpty(vars.contractAccount.ALIA_SDI_IPA__c)]">
				<set-variable value='#[vars.contractAccount ++ {"ALIA_OLDKEY__c": payload.ALIA_OLDKEY__c}]' doc:name="Contract Account" doc:id="691ed55d-1f91-4dc5-bc77-335134f952c3" variableName="contractAccount" />
				<flow-ref doc:name="upsert-contract-account-sdiIlpaCigCup-implFlow" doc:id="7175dfb3-3de3-4b76-9d0d-b7ee39ce5964" name="upsert-contract-account-sdiIlpaCigCup-implFlow" target="SdiIlpaCigCupResponse" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="44839f96-a411-43d0-8a84-e63974dd4b55" message="no need to upsert contract-account-sdiIlpaCigCup"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="bc96f0c4-fbb8-4a9e-8c22-1cef65cc4b76" message="Contract Account successfully created - #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="706f77fc-779d-46dd-bd52-106b5c30ad1a" >
				<logger level="ERROR" doc:name="Logger" doc:id="aae24874-4fdc-4308-aed5-d75533a6d7e6" message="Error creating Contract Account"/>
				<ee:transform doc:name="Error Transform Message" doc:id="7b6c34ba-96dc-454c-bcb3-f11a71b3a5c0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>	
	
	</mule>
