src/main/mule/implementation/create-asset-container-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	
	<flow name="create-asset-container-implFlow" doc:id="cb98a60a-a89a-44a3-917e-cc3dcfca6d84" >
		<ee:transform doc:name="Create Container Installation - Request Transformation" doc:id="116b8ece-7ff2-46dd-b088-87ecabd6c4da" >
			<ee:message >
				<ee:set-payload resource="dataweave/create-asset-request-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4d6e16d0-51ce-499a-89fd-8454e694f75a" message='Creating Asset Container with payload: #[payload]' />
		<s4hana:create-entity doc:name="Create Container Installation" doc:id="7721c52b-d887-4ed6-bef4-8863fe3d15da" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_CONTAINER_SRV" entityType="ZST_INST_MGMTSet">
    		<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:create-entity>
		 	<ee:transform doc:name="Payload2JSON" doc:id="bb922265-a5d4-491c-a889-9fd71e6bd56a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="32405f29-a47b-4cd9-8a8b-ef5392319cd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  "Action": "01",
  "Auldt": "2022-08-03",
  "Eadat": "2022-08-03",
  "Gpart": "1000834011",
  "Equnralt": "",
  "Lgort": "1410",
  "Equnrneu": "2001219257",
  "Anlage": "4100685416",
  "Matnr": "CONTOG35",
  "Kunde": "1000834011",
  "Matr": "MOG-220623-11",
  "Bauform": "CONTENITORE ORGANICO 35",
  "Devloc": "6000928108",
  "Tag": "MOG-220623-11",
  "Etich": "MOG-220623-11",
  "Ezeit": "13:14:40"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<logger level="INFO" doc:name="Logger" doc:id="bc96f0c4-fbb8-4a9e-8c22-1cef65cc4b76" message="Asset Container successfully created  - #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="706f77fc-779d-46dd-bd52-106b5c30ad1a" >
				<logger level="ERROR" doc:name="Logger" doc:id="47dcfcb9-b847-416a-9ac2-e1dbee1ae284" message="Error creating Container Installation"/>
				<ee:transform doc:name="Error Transform Message" doc:id="7b6c34ba-96dc-454c-bcb3-f11a71b3a5c0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>	
	
	</mule>
