src/main/mule/implementation/get-solleciti-avvisi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-solleciti-avvisi-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Get Solleciti Avvisi Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"BusinessPartner eq '" ++ attributes.queryParams.business_partner ++ "' and ContoContrattuale eq '" ++ attributes.queryParams.contract_account ++ "'"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='Get Solleciti Avvisi by filter: #[payload]'/>
		<s4hana:query doc:name="Get Solleciti Avvisi" doc:id="58b29700-33df-490d-b04e-d78d523f64ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZESTRATTORE_SOLLECITI_SRV" entityType="SollecitiHeadSet" filter="#[payload]">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<ee:transform doc:name="Get Solleciti Avvisi Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload map (item, index) -> {
    "contract_account": item.ContoContrattuale,
    "business_partner": item.BusinessPartner,
    ("release_date": item.DataEmissione as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataEmissione)) and (item.DataEmissione as String != "9999-12-31")),
    ("notification_date": item.DataNotif as Date {format: "yyyy-MM-dd"} as String {format: "yyyyMMdd"}) if ((!isEmpty(item.DataNotif)) and (item.DataNotif as String != "9999-12-31")),
    "issue_identify": item.IdentificativoSollecito,
    "issue_amount_1": item.SpeseSollecito1,
    "issue_balance": item.SaldoSollecito,
    "issue_amount_2": item.SpeseSollecito2,
    "issue_interest": item.InteressiSollecito,
    "total_amount": item.TotDaPagare,
    "total_day": item.DilPagSoll
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Get Operands: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="835fcddf-97a4-4ca1-ae73-cf77358c14b1" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun Sollecito Estratto"'>
				<logger level="WARN" doc:name="Logger" doc:id="aafceb49-7363-47f9-b155-30564af4b324" message="Solleciti Avvisi not found" />
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="2cf74169-bdb8-4bfd-980f-3c5f7da931d4" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ef3d8e71-dc97-4ea6-b6f8-4c65600fbbae" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="05f23139-1ab1-420e-95d6-4e9eb58a6c41" message="Error retrieving Solleciti Avvisi"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;error.errorMessage.payload]" doc:name="Set Payload" doc:id="28a097ca-0d7e-43d3-8c63-fe0c3ac88dbc" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
