src/main/mule/implementation/get-business-partner-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-business-partner-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Business Partner by id " ++ vars.businessPartnerId]'/>
		<s4hana:get-entity doc:name="Get Business Partner by Id" doc:id="1d850020-b03e-48d4-b70b-d10356214bef" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartner" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" select="*" expand="to_BusinessPartnerAddress/to_EmailAddress">
   			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
			<s4hana:key ><![CDATA[#[%dw 2.0
output application/java
---
{
	"BusinessPartner": vars.businessPartnerId
}]]]></s4hana:key>
		</s4hana:get-entity>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner" doc:id="3a03141c-5032-4912-9ba7-e1fa822750c2" variableName="businessPartner"/>
		<s4hana:query doc:name="Get Business Partner Tax Number" doc:id="ed9bd23a-7c12-44ef-bd6c-21a2e97e8643" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerTaxNumber" filter="#[&quot;BusinessPartner eq '&quot; ++ vars.businessPartnerId ++ &quot;'&quot;]" select="*">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;vars.businessPartner ++&#10;{&#10;	"to_BusinessPartnerTaxNumber" : payload&#10;}]' doc:name="Business Partner Tax Number" doc:id="34e2ebfb-574a-4a83-b7cc-2b204feb474c" variableName="businessPartner"/>
		<s4hana:query doc:name="Get Business PartnerAddress" doc:id="37e91b43-0b49-483d-92a6-e45d8fc6aa67" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_BusinessPartnerAddress" filter="#[&quot;BusinessPartner eq '&quot; ++ vars.businessPartnerId ++ &quot;'&quot;]" select="*">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Business Partner Address" doc:id="a8c6c7b5-7ed4-40aa-9dcc-1f2e21928db4" variableName="businessPartnerAddress"/>
		<s4hana:query doc:name="Business Partner Address Email Address" doc:id="06822ed4-fa55-4136-ae4f-ba75d76eed95" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" filter="#[&quot;AddressID eq '&quot; ++ vars.businessPartnerAddress[0].AddressID ++ &quot;'&quot;]" select="*">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;vars.businessPartner ++&#10;{&#10;	"to_BusinessPartnerAddressEmailAddress" : payload&#10;}]' doc:name="Address Email Address" doc:id="63cf3e70-a629-485c-b29d-26f6ef461394" variableName="businessPartner"/>
		<s4hana:query doc:name="Business Partner Address Phone Number" doc:id="ed325f1a-8c28-4ffc-bd9c-c6ccbf10aa28" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber" filter="#[&quot;AddressID eq '&quot; ++ vars.businessPartnerAddress[0].AddressID ++ &quot;'&quot;]">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<ee:transform doc:name="Get Business Partner - Request Transformation" doc:id="3902c879-17d7-4b01-b9b8-bd5f99c48d31">
			<ee:message>
				<ee:set-payload resource="dataweave/get-business-partner-response-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Get Business Partner: #[payload]" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bef36c70-237a-4a1f-ae74-0668718cbaa5" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun dato trovato"'>
				<logger level="WARN" doc:name="Logger" doc:id="81b6d22f-29cb-4665-bf2d-fcd45db323b8" message="Operands not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="6024dc70-d0ec-454f-929e-f4b47d47ed14" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d18dc8bf-f473-45f6-9757-f76652559cb9" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="bf68f7e1-bd37-4de8-ac09-4db92598b98e" message="Error getting business partner" />
				<ee:transform doc:name="Transform Message" doc:id="45552bfb-ecd9-4e77-b8d7-60b4aceacfc2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
