src/main/mule/implementation/get-device-location-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-device-location-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<ee:transform doc:name="Get Device Location Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Haus eq '" ++ attributes.queryParams.connectionObjectId ++ "'"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='#["Get Device Location by filter: " ++ payload]'/>
		<s4hana:get-entity doc:name="DevLoc" doc:id="a9820dfb-bd07-4095-99a2-d8fa233da50a" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_DEVLOC_SRV" entityType="DevLoc_By_ConnObjSet">
			<s4hana:key><![CDATA[#[%dw 2.0
output application/java
---
{
	"Haus" : attributes.queryParams.connectionObjectId
}]]]></s4hana:key>
		</s4hana:get-entity>
		<ee:transform doc:name="Get Device Location Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"ALIA_DEVLOC__c" : payload.Devloc,
	"ALIA_HAUS__c" : payload.Haus,
	"ALIA_SWERK__c" : payload.Swerk
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Device Location got: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d8329e65-ed64-4ade-91ee-609c300d211f" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun dato trovato"'>
				<logger level="WARN" doc:name="Logger" doc:id="b271b191-9be1-4ca8-a316-b25a7dd4718d" message="Device Location not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="79eadade-77e4-4340-a186-a9f1fb13e1a8" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6f6246a1-7b28-4a1b-9ade-b143832e2dac" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="19ec4244-bdbe-4628-aca8-cb561b1a88f5" message="Error retrieving Move Container"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;error.errorMessage.payload]" doc:name="Set Payload" doc:id="71412bd4-c145-4ea3-acba-f6064be03448" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
