src/main/mule/implementation/get-operands-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="get-operands-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<set-variable value="#[attributes.queryParams.common as Boolean]" doc:name="Common" doc:id="69431e65-b937-4407-8872-04fad231db30" variableName="common"/>
		<ee:transform doc:name="Get Operands Request Transformation" doc:id="30170f19-e7c5-4a80-93f1-316acfa64101">
			<ee:message>
				<ee:set-payload resource="dataweave/get-operands-request-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e9cc74d-1a3d-4320-b28b-86ac539ee2ad" message='Get Operands by filter: #[payload]'/>
		<s4hana:query doc:name="Get Operands" doc:id="58b29700-33df-490d-b04e-d78d523f64ad" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_OPERAND_SRV" entityType="OperandPositionSet" filter="#[payload]" orderBy="Ab asc">
			<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
		</s4hana:query>
		<ee:transform doc:name="Get Operands Response Transformation" doc:id="8e866f8b-262e-4d95-ba5f-a5901aa10f3f" >
			<ee:message >
				<ee:set-payload resource="dataweave/get-operands-response-transformation.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6e01d9d-d69b-48ae-a0b8-8a9bad739b7f" message="Get Operands: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6e677e44-9d7b-4937-aae0-870841f9af8e" type="S4HANA:INVALID_ENTITY" when='error.description contains "Nessun dato trovato"'>
				<logger level="WARN" doc:name="Logger" doc:id="84d2894b-e8a2-4256-9507-cfdbe829b3f8" message="Operands not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="1b75540d-e9d8-4aff-8537-e86ff4c4fd24" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="59e64ebb-32ac-4cb1-9ad7-9ebdc23e48b0" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="a7b78095-d831-438d-8f2e-880f91794f77" message="Error getting operands"/>
				<ee:transform doc:name="Error Transform Message" doc:id="d7fe0cbc-2631-443c-9fc6-e6986744fb91" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	"error": {
		"message": error.errorMessage,
		"description": error.description,
		"detailedDescription": error.detailedDescription,
		"errorType": {
			"identifier": error.errorType.identifier,
			"namespace": error.errorType.namespace	
		}
	}
}

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
