src/main/mule/implementation/get-connection-objects-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana"
	xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="get-connection-objects-impl-flow" doc:id="53cea037-e49e-4882-bcb9-c4b40dfbaa7d" >
		<choice doc:name="Choice" doc:id="8e6fdb9c-54ce-41d1-92ba-0f625a0c345d" >
			<when expression="#[(isEmpty(attributes.queryParams.commucode) or isEmpty(attributes.queryParams.regiogroup)) and (isEmpty(attributes.queryParams.begru) or isEmpty(attributes.queryParams.street))]">
				<logger level="ERROR" doc:name="Logger" doc:id="b1bf3aca-bd99-441a-b31c-7db4b0db96a9" message="No mandatory query parameters provided"/>
				<raise-error doc:name="Bad request - Missing parameter" doc:id="b5170884-103c-4cd1-a4d7-6495bdc605e2" description="BAD REQUEST" type="VALIDATION:MISSING_PARAMETER"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Get Connection Objects Request Transformation" doc:id="b0dd19f0-0237-41e2-a69e-23e8de677199">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain

import substringAfter from dw::core::Strings


var commucode = if (isEmpty(attributes.queryParams.commucode)) "" else " and CommuCode eq '" ++ attributes.queryParams.commucode ++ "'"
var civico = if (isEmpty(attributes.queryParams.civico)) "" else " and HouseNum1 eq '" ++ attributes.queryParams.civico ++ "'"
var regiogroup = if (isEmpty(attributes.queryParams.regiogroup)) "" else " and Regiogroup eq '" ++ attributes.queryParams.regiogroup ++ "'"
var begru = if (isEmpty(attributes.queryParams.begru)) "" else " and Begru eq '" ++ attributes.queryParams.begru ++ "'"
var street = if (isEmpty(attributes.queryParams.street)) "" else " and Street eq '" ++ (attributes.queryParams.street replace /'/ with("''"))  ++ "'"
var city = if (isEmpty(attributes.queryParams.city)) "" else " and City1 eq '" ++ attributes.queryParams.city ++ "'"
var houseNum2 = if (attributes.queryParams.houseNum2 == null) "" else " and HouseNum2 eq '" ++ attributes.queryParams.houseNum2 ++ "'"

var out = commucode ++ regiogroup ++ begru ++ street ++ civico ++ city ++ houseNum2

---

substringAfter(out, "and")


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="ac7369ee-013a-41cc-a58d-dc5a10641c52" message='#["Connection Objects by filter: " ++ payload]' />
				<s4hana:query doc:name="Get Connection Objects" doc:id="97c1a250-ef34-4b98-83c7-3897d660c760" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config" service="ZERP_ISU_CONNOBJ_SRV" filter="#[payload]" entityType="ConnobjSet">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
				</s4hana:query>
				<ee:transform doc:name="Get Connection Objects Response Transformation" doc:id="a0748368-13d8-419a-8474-2bb0fa63134c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload filter(!isEmpty($.Haus)) map ( item , index ) -> {
	"connObjId": item.Haus,
//	"rossonero": item.RossoNero,
//	"barrato": item.Barrato,
//	"regpolit": item.Regpolit,
//	"begru": item.Begru,
//	"regiogroup": item.Regiogroup,
//	"addrnumber": item.Addrnumber,
//	"streetcode": item.Streetcode,
//	"commucode": item.CommuCode,
//	"city1": item.City1,
//	"city2": item.City2,
	"postcode": item.PostCode1,
//	"street": item.Street,
	"civico": item.HouseNum1
//	"precisazione": item.HouseNum2,
//	"rangecivici": item.HouseNum3,
//	"country": item.Country,
//	"region": item.Region
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="aa4d916f-4d67-4ad4-973f-f1393ad50421" message="Connection Objects got: #[payload]" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="33389bda-4a6a-41cb-8f40-97679943e6ae" type="S4HANA:INVALID_ENTITY" when='lower(error.description) contains "non ci sono oggetti di allacciamento trovati"'>
				<logger level="WARN" doc:name="Logger" doc:id="f8e6dc12-b56e-44bc-96ac-6ae5cb6784bd" message="Connection Objects not found"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="Empty array" doc:id="9cec5b2b-bcb5-4ab5-bc14-f1575ebf06ba" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b0d17930-c22e-4693-83ac-225c5726b9fb" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="a6f52560-d496-49fe-9416-0083c50e164c" message="Error retrieving Connection Objects"/>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;error.description]" doc:name="Set Payload" doc:id="496dcb92-b41b-40dd-9cf2-af97febc5b2f" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
