target/classes/common/update-address-phone-number-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="update-address-phone-number-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<choice doc:name="Choice" doc:id="355033c8-a0cd-406b-b013-c907476432cc" >
			<when expression="#[(vars.businessPartner.ALIA_TAXNUM_PIVA_IT0__c == null) and (vars.businessPartner.ALIA_TAXNUM_PIVA_IT1__c == null) and (vars.businessPartner.ALIA_TAXNUM_CF__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="04da9c69-ff83-4f13-ae27-0d41fb8f1b90" message="No need to update Address Phone Number"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Update Address Phone Number - Request Transformation" doc:id="6c1eadd9-ae0e-42aa-9d51-23a17167e2e8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  "BusinessPartner": vars.businessPartnerId,
      ("to_MobilePhoneNumber" : [
        ({
          "IsDefaultPhoneNumber" : if (vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c == null or vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c == "3") true else false,
          "PhoneNumber" : vars.businessPartner.Phone,
          ("PhoneNumberType" : vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c) if (vars.businessPartner.ALIA_ICOM_TEL_MOBILE_1__c != null)
        }) if (vars.businessPartner.Phone != null),
        ({
          "IsDefaultPhoneNumber" : if (vars.businessPartner.Phone == null or vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c == "3") true else false,
          "PhoneNumber" : vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c,
          ("PhoneNumberType" : vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c) if (vars.businessPartner.ALIA_ICOM_TEL_MOBILE_2__c != null)
        }) if (vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c != null)
      ]) if (vars.businessPartner.Phone != null or vars.businessPartner.ALIA_ICOM_TEL_NUMBER_2__c != null)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressPhoneNumber" doc:name="Update Address Phone Number" doc:id="781b68a5-b83a-4f1c-b656-2a69b760f1de" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
				</s4hana:update-entity>
			</otherwise>
		</choice>
	</flow>
</mule>
