target/classes/common/update-address-email-address-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="update-address-email-address-impl-flow" doc:id="b6df7f31-3a90-43b6-9daf-67a2d1042436" >
		<choice doc:name="Choice" doc:id="355033c8-a0cd-406b-b013-c907476432cc" >
			<when expression="#[(vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c == null) and (vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c == null)]">
				<logger level="INFO" doc:name="Logger" doc:id="04da9c69-ff83-4f13-ae27-0d41fb8f1b90" message="No need to update Address Email Address"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Update Address Email Address - Request Transformation" doc:id="6c1eadd9-ae0e-42aa-9d51-23a17167e2e8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  "BusinessPartner": vars.businessPartnerId,
  "IsDefaultEmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c == null) false else true,
  "EmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c == null) vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c else vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c,
  "SearchEmailAddress" : if (vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c == null) vars.businessPartner.ALIA_ICOM_SMTP_ADDR_2__c else vars.businessPartner.ALIA_ICOM_SMTP_ADDR_1__c,
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<s4hana:update-entity service="API_BUSINESS_PARTNER" entityType="A_AddressEmailAddress" doc:name="Update Address Email Address" doc:id="781b68a5-b83a-4f1c-b656-2a69b760f1de" responseTimeout="${sap.connection.response-timeout}" responseTimeoutUnit="SECONDS" config-ref="SAP_S_4HANA_Config">
					<reconnect frequency="${sap.connection.reconnection.frequency}" count="${sap.connection.reconnection.attempts}"/>
				</s4hana:update-entity>
			</otherwise>
		</choice>
	</flow>
</mule>
